header, footer {
	display: none;
}

body.blankBlack {
	background: #000;
	color: #bbb
}

h1 {
	font-size: 2em;
	margin: auto;
	text-align: center;
}

video {
	margin-left: calc( (100vw - 100%) / -2);
	width: 100vw;
}

.info {
	margin-top: 5em;
	margin-bottom: 1em;
	opacity: 0.2;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.info:hover {
	opacity: 1
}

.info a {
	border-bottom: none;
	color: #bbb;
}

.info a:hover {
	background: none;
}
