.content {
	text-align: left;
    max-width: 580px;
    margin: auto;
}

.main {
  	margin: 8em auto 12em auto;
  	min-height: 25vh; 	/* Minimum page height for short pages like `/404` or `/about` */
}

body {
	margin: 0;
    color: #545454; 
    line-height: 1.55;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', "Avenir Next", "-apple-system", sans-serif;
	font-weight: 300;
}

i, em {
	font-style: italic;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    margin: 1.2em auto -0.3em auto;
    font-weight: 600;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h1:nth-child(1),
h2:nth-child(1) {
   margin-top: 1em;
}

a {
	text-decoration: none;
	color: #3f70a2;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.entry a {
	-webkit-transition: all .15s ease-in;
	-moz-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

a:hover {
	color: #2e8eef;
}

.entry a:hover {
	border-bottom: 1px solid #2e8eef;
}

a.nohover:hover { 
    background: none;
    border: none;
}

.sup {
    vertical-align: super;
    font-size: 50%;
}

.sub {
	vertical-align: sub;
	font-size: 50%;
}

blockquote {  
    margin: 10px 0px 20px 2px; 
    color: #9e9e9e; 
    padding-left: 9px; 
    border-left: 5px solid #dbdbdb;
}

#masthead {
   width: 100%;
   height: 165px;
   margin-bottom: -165px;
   background-color: #3f70a2;
}

.content .header,
.content .header a {
	margin: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 0;
    border-width: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.content .header #siteTitle img {
	width: 80%;
	margin: 2em auto -1.5em auto;
}

.content .header #siteByline {
    font-size: 0.95em;
    margin: 0.75em auto;
}

img {
	max-width: 100%;
}
	
figure {
    margin: 2em auto 2em auto;
    text-align: center;
}

figure.wide {
	width: 1100px;
	margin-left: -260px;
}

/* Floated images */
figure.figleft,
figure.figright {
	margin: 0.5em 2em 1em 0.5em;
	width: 50%;
	display: inline-block;
	float: left;
}

figure.figright {
	float: right;
	margin: 0.5em 0.5em 1em 2em;
}

/* MacStories-style images */
figure.twoleft,
figure.tworight {
	width: 48%;
	float: left;
	display: inline-block;
}

figure.tworight {
	float: right;
}

figure.iphone,
figure.applewatch {
	width: 50%;
	margin: auto;
}

.homepage figure.wide {
	width: 100%;
	margin-left: auto;
}

figcaption {
    margin: 0.5em auto;
    font-style: italic;
    font-size: 0.8em;
    color: #9e9e9e;
    width: 80%;
    text-align: center;
}

figcaption.long {
	text-align: left;
	margin: 0.5em 20% auto 10%;
}

pre {
    font-size: 1em;
    white-space: pre;
    overflow: auto;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
}

code {
	font-style: normal;
    white-space: pre-line; 
    font-size: 0.95em;
    padding: 4px;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
}

/* Fixes the wonkey border-bottom hover on code blocks */
a code:hover {
	padding-bottom: 1px;
}

/* Removes italics on code blocks */
.topstory code {
	font-style: normal;
}

pre code {
    font-size: 1em;
    white-space: pre;
    border: none;
    padding: 0;
    overflow: auto;
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.5;
}

/* Fixes funkiness on homepage <pre><code> */
.homepage pre code {
	white-space: pre-line;
}

.entry li {
	padding-left: 0.2em;
	margin: 0.5em 0 .5em 0;
}

.entry ul,
.entry ol {
	padding-left: 1em;
	margin: 1em 0 1em .5em;
   /*list-style: circle;*/
}

.homepage .article th,
.homepage .article td,
.post th,
.post td {
    padding: 0 0.5em 0 0.5em
}

table.sortable thead {
    cursor: default;
}

div.takehome {
	color: #3f70a2;
	float: right;
	padding: 1em 0.25em 1em 1.5em;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.6;
	font-style: italic;
	text-transform: uppercase;
	width: 30%;
}

div.takehomeLeft {
	color: #3f70a2;
	float: left;
	padding: 1em 1.5em 1em 0.25em;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.6;
	font-style: italic;
	text-transform: uppercase;
	width: 30%;
}

hr {
    width: 100%;
    margin-top: 1.7em auto 1.7em auto;
    border-radius: 1px;
    border: 1px solid #ddd;
}

hr.small {
    width: 60%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.homepage .day .daybreak {
    width: 180%;
    margin: 6em auto 6em -40%;
    border-radius: 2px;
	background-color: #ddd;
	height: 0.2em;
}

i.fa.fa-hand-o-right.fa-fw {
	vertical-align: 10%;
	font-size: 0.8em;
	color: #9e9e9e;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

i.fa.fa-clock-o.fa-fw {
	vertical-align: 4%;
	font-size: 0.9em;
	margin-left: -2px;
}

i.fa.fa-paragraph.fa-fw {
	vertical-align: 7%;
	font-size: 0.85em;
}

i.fa.fa-tag.fa-fw {
	vertical-align: 12%;
	font-size: 0.7em;
}

i.fa.fa-code.fa-fw {
	vertical-align: 4%;
	font-size: 0.95em;
}

i.fa.fa-question.fa-fw, 
i.fa.fa-usd.fa-fw,
i.fa.fa-history.fa-fw {
	margin-left: -5px;
}

i.fa.fa-tags.fa-fw,
i.fa.fa-cog.fa-fw,
i.fa.fa-magic.fa-fw,
i.fa.fa-child.fa-fw,
i.fa.fa-bicycle.fa-fw,
i.fa.fa-usd.fa-fw,
i.fa.fa-twitter.fa-fw,
i.fa.fa-envelope-o.fa-fw,
i.fa.fa-chain-broken.fa-fw,
i.fa.fa-question.fa-fw, 
i.fa.fa-history.fa-fw {
	vertical-align: 5%;
	font-size: 0.8em
}

i.fa.fa-user.fa-fw,
i.fa.fa-external-link.fa-fw,
i.fa.fa-terminal.fa-fw {
	font-size: 0.8em;
	vertical-align: 8%;
}

.header-anchor {
    color: #3f70a2;
    opacity: 0;
    font-size: 0.8em;
    vertical-align: 7%;
}

.header-anchor, .header-anchor:hover, .title a {
    text-decoration: none;
    background: none;
    color: #3f70a2;
    border-radius: none;
}

h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
    opacity: 1;
}

a.header-anchor:hover {
   border-bottom: none;
   background: none;
   color: #2e8eef;
   padding: 0px;
}

a.postTitleLinked:hover + i.fa.fa-hand-o-right.fa-fw {
	color: #2e8eef;
}

.postSubtitle,
.postSubtitleTags {
    color: #9e9e9e;
    font-size: 0.95em;
}

.postSubtitle a,
.postSubtitleTags a {
    color: #9e9e9e;
}

.postSubtitle a:hover,
.postSubtitleTags a:hover {
	color: #2e8eef;	
}

ul.postSubtitleItems {
	padding-left: 0;
	margin: 0.25em auto;
}

ul.postSubtitleTagsItems {
	padding-left: 0;
	margin: auto auto -1.25em auto;
}

ul.postSubtitleItems li,
ul.postSubtitleTagsItems li {
	display: inline;
	margin-right: 0.5em;
}

ul.eachTag {
	margin-top: 0.3em;
	padding-left: 0;
	list-style: none;
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease-in;
	-moz-transition:	 all .2s ease-in;
	transition: all .2s ease-in;
}

ul.eachTag li {
	text-align: left;
	margin: 0.25em 1.25em 0.25em 0;
	display: inline-block;
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.post .postHeader ul.postSubtitleTagsItems li {
	text-align: center;
	display: block;
}

ul.postSubtitleTagsItems input.tagsList:checked + ul.eachTag,
ul.postSubtitleTagsItems input.tagsList:checked + ul.eachTag li {
	opacity: 1;
	height: 100%;
}

ul.postSubtitleItems input.tagsList {
	vertical-align: 10%;
}

.homepage li.postSource,
.homepage li.postSource i.fa.fa-code.fa-fw,
.post li.postPermalink,
.post li.postPermalink i.fa.fa-paragraph.fa-fw {
    display: none;
}

.homepage .postHeader,
.homepage .postHeaderLinked {
    margin-top: 4em;
    margin-bottom: 1em;
}

.homepage .postHeader h1,
.homepage .postHeaderLinked h1 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0em;
}

.homepage .postHeader h1 {
	font-size: 1.85em;
}

.homepage .postHeaderLinked h1 {
    font-size: 1.5em;
}

.homepage a.postTitle,
.homepage a.postTitleLinked {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.2em;
}

.homepage a.postTitle {
	color: #545454;
}

.homepage a.postTitleLinked  {
    color: #3f70a2;
}

.homepage a.postTitle:hover, 
.homepage a.postTitleLinked:hover {
	color: #2e8eef;
}

.homepage .topstory {
	margin-top: 2em;
    margin-bottom: 2em;
    font-style: italic;
    text-align: left;
}

.homepage .day .article {
    margin-bottom: 6em;
}

/* Prevents footnote content from appearing on the homepage */
.homepage section.footnotes,
.homepage .article hr.footnotes-sep,
.homepage .footnote-ref {
    display: none;
}

div.update {
	margin-top: 2em;
	background-color: #eee;
	border-radius: 0.2em;
	padding: 0.5em 2em 2em 2em;
}

div.update blockquote {
	border-left: 5px solid #d0d0d0;
}

div.update blockquote a {
	word-break: break-all;
}

.post .postHeader {
    margin-top: 3em;
    margin-bottom: 4em;
    text-align: center;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.post .postHeaderLinked {
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.post .postHeader h1,
.post .postHeaderLinked h1 {
    margin-bottom: 0em;
    line-height: 1.5;
    font-weight: 700;
}

.post .postHeader h1 {
    font-size: 2.2em;
}

.post .postHeaderLinked h1 {
    font-size: 1.5em;
}

.post a.postTitle,
.post a.postTitleLinked  {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.post a.postTitle {
    color: #545454;
}

.post a.postTitleLinked {
   	color: #3f70a2;
}

.post a.postTitle:hover,
.post a.postTitleLinked:hover {
   	color: #2e8eef;
}

.post .postHeader .postSubtitle {
    font-size: 1.05em;
    text-align: center;
}

.post .topstory {
    margin-bottom: 5em;
    font-style: italic;
    text-align: center;
}

/* Turned off until I can fix markdown-it-footnote */
.main hr.footnotes-sep {
    width: 10em;
    margin: 5em auto 1.5em 0;
    border: 1px solid #ddd;
    display: none;
}

.main section.footnotes {
	margin-top: 5em;
	font-size: 0.85em;
	color: #9e9e9e;
	padding-left: 1em;
	border-top: 1px solid #333; /* Sorta-mimics `.main hr.footnotes-sep` */
	border-color: #ddd;
	padding-top: 1em;
}

.footnote-ref a {
    color: #9e9e9e;
}

a.footnote-backref {
    vertical-align: -0.1em;
    color:  #9e9e9e;
}

.footnote-ref a:hover,
a.footnote-backref:hover {
    border-bottom: none;
    background: none;
    color: #2e8eef;
    border-radius: none;
}

.homepage .paginationFooter {
	margin-top: -2em;
    display: block;
    width: 100%;
    font-weight: 400; 
    font-size: 1.1em;
}

.homepage .paginationFooter .previousPage {
    display: inline;
    float: right;
}

.homepage .paginationFooter .nextPage {
    display: inline;
    float: left;
}

#bottomAd {
    border-top: 1px solid #ddd;
    width: 100%;
    height: 130px;
}

#bottomAd img {
	width: 150px;
	border-top: none;
}

#footer {
	background-color: #3f70a2;
	height: 165px;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

#nav {
	font-size: 1.1em;
	padding-top: 0.5em;	
}

#nav a {
	color: #fff;
}

#nav a:hover {
    color: #8abef4;
}

#nav ul {
	list-style: none;
	padding-left: 0;
}

#copyright {
    font-size: 0.8em;
    font-weight: 300;
}

/* Desktop */
@media all and (max-width: 1200px) /* Sets figure.wide pics */ {
	figure.wide { 
		margin-left: calc((100vw - 580px) / -2); 
		max-width: 100vw;
	}
}

/* iPad */
/* Fixes too-huge daybreak */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
	.homepage .day .daybreak {
	    margin-left: -10%;
		width: 120%;
	}
}

/* iPhone */
@media all and (max-width: 580px) {
	
	#masthead {
	   height: 120px;
	   margin-bottom: -120px;
	}
	
	.content {
		margin: 0.6em auto 5em auto;
		width: 300px;
	}
	
	.main {
		margin-top: 5em;
		min-height: 10vh;
	}
	
	.content .header #siteTitle img {
	    width: 100%;
	    margin-top: 1em;
	}
	
	.content .header #siteByline {
	    margin: 1em auto;
	}
	
	.homepage .postHeader h1 {
	    font-size: 1.8em;
	}
	
	.homepage .day .daybreak {
		margin: 6em auto 6em -10%;
		width: 120%;
	}
	
	.post .postHeader h1 {
	    font-size: 1.8em;
	}
	
	.post .postHeader {
	    margin: 3em auto 3em auto;
	}
	
	.post .topstory {
	    margin-bottom: 3em;
	}
	
	.homepage .paginationFooter {
	    margin: -2em auto 3em auto;
	}
	
	#navFooter {
		padding: auto;
	}
	
	#copyright {
		padding: auto;
	}
	
	/*	Makes 'Casey Liss' style floated-images behave 
		like regular <figure> images  */
	figure.figleft,
	figure.figright,
	figure.twoleft,
	figure.tworight {
	    float: none;
	    width: 100%;
	    text-align: center;
	    margin: 1em auto 1em auto;
	}
	
	figure.wide {
		width: 100vw;
		margin-left: calc((100vw - 300px) / -2);
	}
	
	/* Undoes my keeping figure.wide images on hompeage to 100% of the container */	
	.homepage figure.wide {
		width: 100vw;
		margin-left: calc((100vw - 300px) / -2);
	}

}

/* iPhone 6 Plus */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3) { 
	.bigfoot-footnote__button {
		font-size: 0.7rem;
	}
}