/* Basics
======================================== */

/* Practical Typography:
http://practicaltypography.com/point-size.html */
body {
	color: #555;
	font-size: 13pt;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B',
		-apple-system, sans-serif;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-weight: 600;
	margin: 1.25em auto -0.25em auto;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 0.9em;
}

a {
	color: #3f70a2;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.entry a {
	border-bottom: 2px solid #eee;
	padding-bottom: 1px;
	transition: background 0.2s ease-in-out;
}

.entry a:hover {
	background: #eee;
	border-bottom: none;
	border-radius: 2px;
}

a.nohover,
a.nohover:hover {
	background: none;
	border: none;
}


/* Site Header
======================================== */

#topHeader,
#topHeader a {
	color: #fff;
	height: 160px;
	text-align: center;
}

#topBanner {
	background-color: #3f70a2;
	height: 160px;
	margin-bottom: -160px;
}

#siteTitle {
	margin: 1.75em auto 0 auto;
	width: 520px;
}

#siteByline {
	margin-top: -0.5em;
}


/* Main
======================================== */

main {
	margin: 3em auto 6em auto;
	min-height: calc(100vh - 600px); /* Sets minimum page height */
	width: 650px;
}

header.postHeader h1,
header.postHeaderLinked h2 {
	font-weight: 700;
	line-height: 1.5;
}

a.postTitle {
	color: #555;
}

a.postTitle:hover {
	color: #3f70a2;
}

span.linkArrow {
	color: #999;
	transition: all 0.2s ease-in-out;
	vertical-align: -4%;
}

a.postTitleLinked:hover span.linkArrow {
	color: #3f70a2;
}


/* Post Subtitle
======================================== */

.postSubtitle {
	color: #999;
	font-size: 0.9em;
}

.postSubtitle a {
	color: #999;
}

.postSubtitle a:hover {
	color: #3f70a2;
}

ul.postSubtitleItems {
	margin: 0.5em auto 0.25em auto;
	padding: 0;
}

ul.postSubtitleItems li {
	display: inline;
	margin-right: 1em;
	padding: 0;
}

details.postTags {
	list-style: none;
}

details.postTags summary {
	transition: all 0.2s ease-in-out;
}

details.postTags summary:hover {
	color: #3f70a2;
}

details.postTags summary:focus {
	outline: none;
}

details.postTags summary::-webkit-details-marker {
	display: none;
}

details.postTags ul,
details.postTags ul li {
	list-style: none;
	margin: 0.5em auto;
	padding-left: 0;
	transition: all 0.2s ease-in-out;
}

details.postTags li:hover {
	color: #3f70a2;
}

/* Font Awesome:
http://fontawesome.io */
	i.fa.fa-clock-o.fa-fw {
		font-size: 0.9em;
		margin-left: -0.15em;
		vertical-align: 4%;
	}

	i.fa.fa-tag.fa-fw {
		font-size: 0.7em;
		vertical-align: 12%;
	}

	i.fa.fa-tags.fa-fw {
		font-size: 0.75em;
		margin-right: 0.3em;
		vertical-align: 12%;
	}


/* Post Content
======================================== */

.topstory {
	font-style: italic;
}

.topstory code {
	font-style: normal;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

img.screenshot {
	border: 2px solid #ddd;
	border-radius: 0.4em;
}

figure {
	margin: 2em auto;
	text-align: center;
}

figure.inlinetwo img {
	margin-left: 0.25em;
	margin-right: 0.25em;
	width: 47%;
}

figure.inlinethree img {
	margin-left: 0.25em;
	margin-right: 0.25em;
	width: 30%;
}

figure.figleft,
figure.figright {
	width: 50%;
}

figure.figleft {
	float: left;
	margin: 0.5em 2em 1em 0.5em;
}

figure.figright {
	float: right;
	margin: 0.5em 0.5em 1em 2em;
}

figure.iphone,
figure.applewatch {
	margin: 2em auto;
	width: 50%;
}

figure.wide {
	margin-left: calc( (150% - 650px) / -2);
	width: 150%;
}

figcaption {
	color: #999;
	font-size: 0.8em;
	font-style: italic;
	margin: 1em auto auto 25%;
	text-align: left;
	width: 50%;
}

audio,
video {
	width: 100%;
}

video.wide {
	margin-left: calc( (150% - 100%) / -2);
	width: 150%;
}

/* Fixes iframe margin weirdness with FitVids.js */
.fluid-width-video-wrapper {
	margin-top: 1em;
}

blockquote {
	border-left: 3px solid #eee;
	color: #999;
	margin: auto;
	padding-left: 1em;
}

blockquote ul li:hover {
	list-style: inherit;
}

pre {
	background-color: #eee;
	border-radius: 0.2em;
	font-family: Menlo, monospace;
	font-size: 0.8em;
	padding: 0.5em 0.75em 0.5em 0.75em;
}

code {
	background-color: #eee;
	border-radius: 0.2em;
	font-family: Menlo, monospace;
	font-size: 0.7em;
	padding: 0.3em 0.3em 0.2em 0.3em;
}

pre code {
	border: none;
	font-size: 0.9em;
	padding: 0;
	word-break: break-word
}

/* Header Anchors:
https://github.com/valeriangalliat/markdown-it-anchor */
a.header-anchor {
	color: #999;
	font-size: 0.8em;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	vertical-align: 8%;
}

a.header-anchor,
a.header-anchor:hover,
a.title a {
	background: none;
	border-radius: none;
	color: #3f70a2;
	text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
	opacity: 1;
}

a.header-anchor,
a.header-anchor:hover {
	background: none;
	border-bottom: none;
}

/* Fixes `markdown-it`
`.homepage` fenced code block funkiness */
.homepage pre code {
	white-space: pre-line;
}

ul, ol, dl {
	padding-left: 1.75em;
}

ul {
	list-style: circle;
}

li {
	margin: 1em auto 1em auto;
	padding-left: 0.25em;
}

ul li:hover {
	list-style: disc;
}

.table-of-contents li a:only-child {
	border-bottom: none;
}

.table-of-contents li a:only-child:hover {
	background: none;
}

/* Cribbed from Byword's Marked CSS:
http://bywordapp.com/extras/index.html */
	table {
		border-bottom: 2px solid #ddd;
		border-right: 2px solid #ddd;
		border-collapse: collapse;
		margin: auto;
	}

	table th {
		background-color: #eee;
		border-top: 2px solid #ddd;
		border-left: 2px solid #ddd;
		padding: 0.3em 1em;
	}

	table td {
		border-top: 2px solid #ddd;
		border-left: 2px solid #ddd;
		padding: 0.3em 1em;
	}

table th code {
	border: 1px solid #ddd;
	border-radius: 0.2em;
}

table.sortable thead {
	cursor: default;
}

.table figcaption {
	margin: 1em auto;
}

.takehome {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	color: #3f70a2;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 600;
	line-height: 1.5;
	text-transform: uppercase;
}

.takehomeRight {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	color: #3f70a2;
	float: right;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 600;
	line-height: 1.5;
	margin: 0.5em 0.5em 1em 2em;
	text-transform: uppercase;
	width: 30%;
}

.takehomeLeft {
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	color: #3f70a2;
	float: left;
	font-weight: 600;
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.5;
	margin: 0.5em 2em 1em 0.5em;
	text-transform: uppercase;
	width: 30%;
}

.takehome p,
.takehomeRight p,
.takehomeLeft p {
	margin: 0.5em auto 0.5em auto;
}

.update {
	background-color: rgba(63, 112, 162, 0.13);
	border-radius: 0.4em;
	margin-top: 2em;
	padding: 0.5em 2em 2em 2em;
}

.updateTime {
	color: #999;
	font-size: 0.9em;
	margin-top: 0.5em;
}

.update a {
	border-bottom: 2px solid #ddd;
	padding-bottom: 1px;
}

.update a:hover {
	background: #ddd;
}

.update blockquote {
	border-left-color: #ccc;
}

.update pre {
	border: 2px solid #ddd;
	border-radius: 0.2em;
}

.update code {
	border: 1px solid #ddd;
	border-radius: 0.2em;
}

.update pre code {
	border: none;
}

hr {
	border: none;
	color: #555;
	text-align: center;
}

hr:after {
	content: "* * *";
	font-size: 1.25em;
	position: relative;
	top: 0.2em;
}

hr.long {
	border-radius: 0.2em;
	border: 1.5px solid #ddd;
	margin: 1.5em auto 1.5em auto;
	width: 100%;
}

hr.articleSeparater {
	background-color: #ddd;
	border-radius: 0.2em;
	height: 0.3em;
	margin: 4em auto 4em calc( (80vw - 650px) / -2);
	width: 80vw;
}

/* Removes the "* * *" on regular `<hr>` */
hr.long:after,
hr.articleSeparater:after{
	content: normal;
}

/* Removes the last hr.articleSeparater on homepage */
section.day:last-of-type hr.articleSeparater:last-of-type {
	display: none;
}

sup.footnote-ref a {
	border-bottom: none;
	color: #999;
	transition: all 0.2s ease-in-out;
}

hr.footnotes-sep {
	border: 1px solid #ddd;
	margin: 5em auto 1.5em 0;
	width: 10em;
	display: none; /* Disabled until `markdown-it-footnote` gets fixed */
}

section.footnotes {
	border-top: 2px solid #eee; /* Sorta-mimics `hr.footnotes-sep` */
	color: #999;
	font-size: 0.8em;
	margin-top: 5em;
	padding-top: 1em;
	padding-left: 1em;
}

a.footnote-backref {
	border-bottom: none;
	color:  #999;
	vertical-align: -0.2em;
}

sup.footnote-ref a:hover,
a.footnote-backref:hover {
	background: none;
	border-bottom: none;
	border-radius: none;
	color: #3f70a2;
}


/* Homepage Pagination
======================================== */

.paginationFooter {
	font-size: 1.1em;
	font-weight: 400;
	padding: 3em 0 0 0;
}

.paginationFooter a {
	color: #999;
}

.paginationFooter a:hover {
	color: #3f70a2;
}

.previousPage {
	float: right;
}

.nextPage {
	float: left;
}


/* Footer
======================================== */

footer {
	background: #3f70a2;
	color: #fff;
	text-align: center;
}

#bottomAd {
	background: #fff;
	border-top: 2px solid #ddd;
	height: 100px;
}

#bottomAd figure {
	margin: 1em auto;
	width: 100px;
}

#bottomAd figure figcaption {
	font-size: 0.8em;
	margin: auto;
	text-align: center;
	width: 100%;
}

nav {
	font-size: 1.1em;
	font-weight: 400;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: #8abef4;
}

nav ul {
	margin: auto;
	padding: 1em 0;
}

nav li,
nav li:hover {
	list-style: none;
	margin: auto;
	padding: 0;
}

#copyright {
	font-size: 0.8em;
	margin: 0;
	padding-bottom: 0.5em;
}


/* @media Queries
======================================== */

/* Wide Displays */
@media (min-width: 1600px) {

	/* Keeps divider from being too long */
	hr.articleSeparater {
		width: 1400px;
		margin-left: -375px;
	}

}

/* iPad */
@media (max-width: 768px) {

	main {
		min-height: calc(100vh - 600px);
	}

	figure.wide {
		margin-left: calc( (100vw - 100%) / -2);
		width: 100vw;
	}

	video.wide {
		margin-left: -10vw;
		width: 100vw;
	}

	hr.articleSeparater {
		border-radius: 0;
		margin: 3em auto 3em calc( (100vw - 100%) / -2);
		width: 100vw;
	}

}

/* Big iPhones */
@media (max-width: 736px) {

	#topHeader {
		height: 130px;
	}

	#topBanner {
		height: 130px;
		margin-bottom: -130px;
	}

	#siteTitle {
		margin-top: 1.75em;
		width: 80vw;
	}

	#siteByline {
		margin-top: -0.25em;
	}

	main {
		min-height: calc(100vh - 500px);
		margin-top: 1.5em;
		width: 80vw;
	}

	img.screenshot {
		border: none;
		border-radius: 0;
	}

	figure,
	figure.wide,
	figure.figleft,
	figure.figright {
		float: none;
		margin: 1em auto auto -10vw;
		width: 100vw;
	}

	figure.inlinetwo img.screenshot,
	figure.inlinethree img.screenshot {
		border: 2px solid #ddd;
		border-radius: 0.4em;
		margin: 1em auto 0 auto;
		width: 50%;
	}

	figure.iphone img.screenshot,
	figure.applewatch img.screenshot {
		border: 2px solid #ddd;
		border-radius: 0.4em;
	}

	.takehomeRight,
	.takehomeLeft {
		float: none;
		margin: auto;
		width: 100%;
	}

	hr.articleSeparater {
		border-radius: 0;
		margin: 2em auto 2em -10vw;
		width: 100vw;
	}

}

/* Smaller iPhones */
@media (max-width: 320px) {

	body {
		font-size: 0.9em
	}

	#topHeader {
		height: 110px;
	}

	#topBanner {
		height: 110px;
		margin-bottom: -110px;
	}

	main {
		min-height: calc(100vh - 450px);
	}

}
