/*
topBanner:   #3f70a2
links:       #3f70a2
body:        #555
meta:        #999
blockquote:  #999
hover:       #eee
hr:          #eee
pre:         #eee
code:        #eee
borders:     #ddd
update:      rgba(63, 112, 162, 0.13)
*/


/* Basics
============================================ */

/* Font philosophies from
Matthew Butterick's Practical Typography
http://practicaltypography.com/point-size.html */

body {
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 13pt;
	line-height: 1.6;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B',
		-apple-system, sans-serif;
	font-weight: 300;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: 600;
}

h1, h2, h3, h4 {
	margin: 1.25em auto -0.25em auto;
	font-weight: 600;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 0.9em;
}

a {
	text-decoration: none;
	color: #3f70a2;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.entry a {
	border-bottom: 2px solid #eee;
	padding-bottom: 1px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.entry a:hover {
	color: #3f70a2;
	background: #eee;
	border-radius: 2px;
	border-bottom: none;
}

/* So /:year/:month/:day matches other pages */
a.yearMonthDay {
	border-bottom: 2px solid #eee;
	padding-bottom: 1px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

a.yearMonthDay:hover {
	color: #3f70a2;
	background: #eee;
	border-radius: 2px;
	border-bottom: none;
}

sup {
	vertical-align: super;
	font-size: 0.7em;
}

sub {
	vertical-align: sub;
	font-size: 0.7em;
}

blockquote {
	margin: auto;
	color: #999;
	padding-left: 1.5em;
	border-left: 3px solid #eee;
}

blockquote p:first-child,
blockquote blockquote:first-child {
	padding-top: 2em;
}

blockquote a {
	word-break: break-all;
}

blockquote a:first-child {
	padding-top: 0;
}


/* Header
============================================ */

header,
header a {
	text-align: center;
	color: #fff;
	height: 160px;
}

header:hover {
	background: none;
	border: none;
	text-decoration: none;
}

#topBanner {
	width: 100%;
	height: 160px;
	margin-bottom: -160px;
	background-color: #3f70a2;
}

#siteTitle {
	margin: 1.75em auto 0 auto;
}

#siteTitle img {
	width: 520px;
}

#siteByline {
	margin-top: -0.5em;
}


/* Main Content
============================================ */

main {
	width: 650px;
	min-height: calc(100vh - 609px);
	margin: 3em auto 6em auto;
}

main header {
	height: auto;
	color: inherit;
	text-align: left;
}

.postHeader,
.postHeaderLinked {
	text-align: left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	height:auto
}

.postHeader h1,
.postHeaderLinked h2 {
	font-weight: 700;
	line-height: 1.5;
}

.postHeader h1 {
	margin-bottom: -0.25em;
}

a.postTitle {
	color: #555;
}

a.postTitle:hover,
a.postTitleLinked,
a.postTitleLinked:hover span.linkArrow{
	color: #3f70a2;
}

span.linkArrow {
	color: #999;
	vertical-align: -4%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


/* Post Subtitle
============================================ */

.postSubtitle {
	color: #999;
	font-size: 0.9em;
	margin-bottom: -0.25em;
}

.postSubtitle a {
	color: #999;
}

.postSubtitle a:hover {
	color: #3f70a2;
}

ul.postSubtitleItems {
	padding: 0;
	margin: 0.5em auto 0.25em auto;
}

ul.postSubtitleItems li {
	display: inline;
	margin-right: 1em;
	padding: 0;
}

ul.postSubtitleItems + ul {
	padding: 0;
	margin: 0.25em auto 0.5em auto;
	list-style: none;
}

details.postTags {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

details.postTags:hover {
	color: #3f70a2;
}

details.postTags summary:focus {
	outline: none;
}

details.postTags summary::-webkit-details-marker {
	display: none;
}

details.postTags ul {
	list-style: none;
	padding-left: 0;
}

details.postTags ul li {
	padding-left: 0;
}


/* Post Content
============================================ */

.topstory {
	margin: 2em auto 2em auto;
	font-style: italic;
}

/* Removes italics on code blocks */
.topstory code {
	font-style: normal;
}

pre {
	font-family: Menlo, monospace;
	font-size: 0.8em;
	white-space: pre;
	padding: 0.5em 0.75em 0.5em 0.75em;
	overflow: auto;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	background-color: #eee;
}

code {
	font-style: normal;
	font-family: Menlo, monospace;
	font-size: 0.7em;
	padding: 0.3em 0.3em 0.2em 0.3em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	background-color: #eee;
}

pre code {
	font-size: 0.9em;
	overflow: auto;
	padding: 0;
	border: none;
}

a code {
	padding-bottom: 0;
}

/* Fixes `markdown-it`
`.homepage` fenced code block funkiness */
.homepage pre code {
	white-space: pre-line;
}

audio,
video {
	width: 100%;
}

/* Fixes iframe margin weirdness */
.fluid-width-video-wrapper {
	margin-top: 1em;
}


/* Horizontal Rules
============================================ */

hr {
    padding: 0;
    border: none;
    color: #555;
    text-align: center;
}

hr:after {
    content: "* * *";
    display: inline-block;
    position: relative;
    font-size: 1.25em;
	top: 0.2em;
}

hr.long {
	width: 100%;
	border-radius: 0.2em;
	border: 1.5px solid #ddd;
	margin: 1.5em auto 1.5em auto;
}

hr.articleSeparater {
	width: 80vw;
	margin: 4em auto 4em calc( (80vw - 650px) / -2);
	background-color: #ddd;
	height: 0.3em;
	border-radius: 0.2em;
}

/* Removes the "***" on regular `<hr>` */
hr.long:after,
hr.articleSeparater:after{
	content: inherit;
}

section.day:last-of-type hr.articleSeparater:last-of-type {
	display: none;
}


/* Emphasized Text "Asides"
============================================ */

.takehome {
	color: #3f70a2;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.5;
	font-style: italic;
	text-transform: uppercase;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.takehomeRight {
	color: #3f70a2;
	float: right;
	margin: 0.5em 0.5em 1em 2em;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.5;
	font-style: italic;
	text-transform: uppercase;
	width: 30%;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.takehomeLeft {
	color: #3f70a2;
	float: left;
	margin: 0.5em 2em 1em 0.5em;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.5;
	font-style: italic;
	text-transform: uppercase;
	width: 30%;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.takehome p,
.takehomeRight p,
.takehomeLeft p {
	margin: 0.5em auto 0.5em auto;
}


/* Updated Content
============================================ */

.update {
	margin-top: 2em;
	background-color: rgba(63, 112, 162, 0.13);
	border-radius: 0.4em;
	padding: 0.5em 2em 2em 2em;
}

.updateTime {
	color: #999;
	font-size: 0.9em;
	margin-top: 0.5em;
}

.update a {
	border-bottom: 2px solid #ddd;
	padding-bottom: 1px;
}

.update a:hover {
	background: #ccc;
}

.update blockquote {
	border-left-color: #ccc;
}

.update pre {
	border: 2px solid #ddd;
	border-radius: 0.2em;
}

.update code {
	border: 1px solid #ddd;
	border-radius: 0.2em;
}

.update pre code {
	border: none;
}


/* Images
============================================ */

img {
	max-width: 100%;
	vertical-align: middle;
}

/* Makes the white background on jpgs
and shadow-less screenshots less offensive */
img.screenshot {
	border: 2px solid #ddd;
	border-radius: 0.4em;
}

figure {
	text-align: center;
	margin: 1em auto;
}

.article .entry figure:first-child {
	margin-top: 1.5em;
}

figure a.nohover,
figure a.nohover:hover {
	background: none;
	border: none;
}

figure.inlinetwo img {
	width: 47%;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

figure.inlinethree img {
	width: 30%;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

figure.figleft {
	margin: 0.5em 2em 1em 0.5em;
	width: 50%;
	display: inline-block;
	float: left;
}

figure.figright {
	margin: 0.5em 0.5em 1em 2em;
	width: 50%;
	display: inline-block;
	float: right;
}

figure.iphone,
figure.applewatch {
	width: 300px;
}

figure.wide {
	width: 80vw;
	margin-left: -10vw;
}

figcaption {
	margin: 1em auto auto 25%;
	font-style: italic;
	font-size: 0.8em;
	color: #999;
	width: 50%;
	text-align: left;
}


/* Lists
============================================ */

ul,
ol,
dl {
	padding-left: 1.25em;
}

li {
	padding-left: 0.25em;
	margin: 1em auto 1em auto
}

.table-of-contents a,
.table-of-contents a:hover {
	border-bottom: none;
	background: none;
}


/* Tables
============================================ */

/* Table styles cribbed from Byword's Marked CSS
http://bywordapp.com/extras/index.html */
table {
	margin: auto;
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-collapse: collapse;
}

table th {
	padding: 0.3em 1em;
	background-color: #eee;
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
}

table td {
	padding: 0.3em 1em;
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
}

table th code {
	border: 1px solid #ddd;
	border-radius: 0.2em;
}

table.sortable thead {
	cursor: default;
}

/* Keeps wide tables from overwhelming the layout on mobile */
.table {
	overflow-x: scroll;
}

.table figcaption {
	margin: 1em auto;
}


/* Font Awesome
http://fontawesome.io
============================================ */

i.fa.fa-clock-o.fa-fw {
	vertical-align: 4%;
	font-size: 0.9em;
	margin-left: -2px;
}

i.fa.fa-tags.fa-fw {
	vertical-align: 5%;
	font-size: 0.8em;
}

i.fa.fa-tag.fa-fw {
	vertical-align: 12%;
	font-size: 0.7em;
}


/* Header Anchors
https://www.npmjs.com/package/markdown-it-anchor
============================================ */

a.header-anchor {
	color: #999;
	opacity: 0;
	font-size: 0.8em;
	vertical-align: 8%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.header-anchor,
.header-anchor:hover,
.title a {
	text-decoration: none;
	background: none;
	color: #3f70a2;
	border-radius: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
	opacity: 1;
}

a.header-anchor,
a.header-anchor:hover {
	border-bottom: none;
	background: none;
}


/* Footnotes
https://www.npmjs.com/package/markdown-it-footnote
============================================ */

.footnote-ref a {
	color: #999;
	border-bottom: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Disabled until CommonMark /
`markdown-it-footnote` gets fixed */
hr.footnotes-sep {
/* 	width: 10em;
	margin: 5em auto 1.5em 0;
	border: 1px solid #ddd; */
	display: none;
}

section.footnotes {
	margin-top: 5em;
	font-size: 0.8em;
	color: #999;
	padding-left: 1.5em;
	border-top: 1.5px solid #eee; /* Sorta-mimics `main hr.footnotes-sep` */
	border-radius: 0.2em;
	padding-top: 1.5em;
}

section.footnotes a {
	color: #999;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a.footnote-backref {
	vertical-align: -0.2em;
	color:  #999;
	border-bottom: none;
}

.footnote-ref a:hover,
a.footnote-backref:hover {
	border-bottom: none;
	background: none;
	border-radius: none;
}


/* Homepage Pagination
============================================ */

.paginationFooter {
	padding: 3em 0 0 0;
	display: block;
	width: 100%;
	font-weight: 400;
	font-size: 1.1em;
}

.paginationFooter a {
	color: #999;
}

.paginationFooter a:hover {
	color: #3f70a2;
}

.pageintationFooder p {
	vertical-align: center;
}

.paginationFooter .previousPage {
	display: inline;
	float: right;
}

.paginationFooter .nextPage {
	display: inline;
	float: left;
}


/* Footer
============================================ */

#bottomAd {
	border-top: 2px solid #ddd;
	height: 130px;
	background: #fff;
}

#bottomAd figure {
	width: 150px;
	margin-top: 1em;
}

#bottomAd figcaption {
	margin: auto;
	width: 100%%;
	text-align: center;
}

footer {
	background-color: #3f70a2;
	color: #fff;
	text-align: center;
}

nav {
	background-color: #3f70a2;
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: #8abef4;
}

nav ul {
	margin: auto;
	list-style: none;
	padding: 1em 0;
}

nav li {
	margin: auto;
	padding: 0;
}

#copyright {
	background: #3f70a2;
	font-size: 0.8em;
	margin: 0;
	padding-bottom: 0.5em;
}


/* Wide Displays
============================================ */

/* Keeps the divider from being
disproportionally long
on wide screens */
@media (min-width: 1600px) {

	hr.articleSeparater {
		width: 1400px;
		margin-left: -375px;
	}

}


/* Mobile
============================================ */

/* iPad */
@media (max-width: 768px) {

	main {
		min-height: calc(100vh - 600px);
	}

	figure.wide {
		width: 100vw;
		margin-left: calc( (100vw - 650px) / -2);
	}

	hr.articleSeparater {
		width: 100vw;
		margin: 3em auto 3em calc( (100vw - 650px) / -2);
		border-radius: 0;
	}

}

/* Big iPhones */
@media (max-width: 736px) {

	header {
		height: 130px;
	}

	#topBanner {
		height: 130px;
		margin-bottom: -130px;
	}

	#siteTitle {
		margin-top: 1.75em;
		width: 80vw;
		max-width: 400px;
	}

	#siteByline {
		margin-top: -0.25em;
	}

	main {
		margin-top: 1.5em;
		min-height: calc(100vh - 500px);
		width: 80vw;
	}

	/* Causes all floated images to collapse to center */
	figure.figleft,
	figure.figright,
	figure.inlinetwo img,
	figure.inlinethree img {
		float: none;
		width: 100%;
		margin: 1em auto 1em auto;
	}

	figure.wide {
		width: 100vw;
		margin-left: -10vw;
	}

	.takehomeRight,
	.takehomeLeft {
		float: none;
		margin: auto;
		width: 100%;
	}

	hr.articleSeparater {
		width: 100vw;
		margin: 2em auto 2em -10vw;
		border-radius: 0;
	}

}

/* Smaller iPhones */
@media (max-width: 320px) {

	body {
		font-size: 0.95em
	}

	header {
		height: 110px;
	}

	#topBanner {
		height: 110px;
		margin-bottom: -110px;
	}

	main {
		min-height: calc(100vh - 450px);
	}

}
