/* @group Text */

body {
    background-color:#FFFFFF;
    color: #545454; 
    line-height: 1.55;
    font-size: 1em;
    margin: 0 0 0 0;
    font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; 
    font-weight: 300; 
    font-style: normal;
}

i, em {
    font-weight: 300;
    font-style: italic;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    margin: 1.2em 0em -.3em 0;
    font-weight: 600;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h1:nth-child(1),
h2:nth-child(1) {
   margin-top: 1em;
}

/*h1.pages,
h1.tagheaders {
   margin-top: 2em;
}*/

a {
	text-decoration: none;
	color: #3f70a2;
}

a:hover {
	color: #2e8eef;
	-webkit-transition: all .45s ease-in-out;
}

/* @end */



/* @group Page Spacing */

.main {
   margin-top: 8em;
}

.content {
    text-align: left;
    max-width: 580px;
    margin: 1em auto 1em auto;
}

/* @end */



/* @group Top Stuffs */

/* TOP BANNER */

#mastheadbackground {
   width: 100%;
   height: 165px;
   margin-bottom: -165px;
   background-color: #3f70a2;
}

.content .header {
    text-align: center;
/*    border-bottom-style: solid;*/
    border-bottom-style: none;
	border-bottom-color: rgb(228, 228, 228);
	border-bottom-width: 0.3em;
}

.content .header .siteTitle {
    font-size: 3em;
    font-weight: bold;
    max-width: 75%; 
    margin-top: .5em;
    margin-bottom: .1em;
    display: inline-block;
}

.content .header .siteTitle a {
    text-decoration: none;
    color: black;
}

.content .header .siteTitle a:visited {
    color: black;
}

.content .header .siteByline {
    font-size: .92em;
    color: #ffffff;
    margin: -1em auto 1.1em auto;
}

/* @group THIS IS FOR CASEY'S DEFAULT TOP NAV */

/*.content .header nav,
.content .header nav a {
    text-transform: uppercase;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 1em;
    margin-top:  -.1em;
    font-weight: 400;
}*/

/*.header .dot {
    font-weight: bold;
    margin: 0 0.5em 0 .7em;
    color: #ffffff !important;
}*/

/* @end */

/* @end */



/* @group Lists & Tables */

.content li {
	padding-left: .2em;
	margin: .5em 0 .5em 0;
   /*list-style: circle;*/
}

.content ul {
	padding-left: 1em;
	margin: 1em 0 1em .5em;
   /*list-style: circle;*/
}

.content ol {
    padding-left: 1em;
    margin: 1em 0 1em .5em;
}

.homepage .article th {
    padding: 0 0.5em 0 0.5em
}

.homepage .article td {
    padding: 0 0.5em 0 0.5em;
}

.post th {
    padding: 0 0.5em 0 0.5em;
}

.post td {
    padding: 0 0.5em 0 0.5em;
}

table.sortable thead {
    cursor: default;
}



/* @end */



/* @group Pre & Code */

.content pre {
    font-size: 1em;
    white-space: pre-wrap;
    margin-bottom: 24px;
    overflow: auto;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    background-color: #eee;
/*   border: 1px solid #ddd;*/
}

.content code {
    white-space: pre-wrap;
    word-wrap: break-word; 
    font-size: .9em;
    padding: 3px;
    overflow: auto; 
    -webkit-border-radius: 4px;
    background-color: #eee;
/*   border: 1px solid #ddd;*/
}

.content pre code {
    font-size: 1em;
    white-space: pre-wrap;
    border: none;
    padding: 0;
    overflow: auto;
    background-color: #eee;
    -webkit-border-radius: 0;
    line-height: 1.5;
}

/* @end */



/* @group Images */

figure {
    margin-top: 2em;
    display: block;
    text-align: center;
}

figure.figleft {
	display: inline;
	float: left;
}

figure.figright {
	display: inline;
	float: right;
}

figcaption {
    margin-top: .5em;
    text-align: center;
    font-style: italic;
    font-size:  .8em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center img.left {
    margin-right: 2em;
}

.center img.right {
    margin-left: 2em;
}

.center img.wide {
	width: 140%; 
	max-width: 140%;
	margin: 0 -20%;
}

.content img {
    max-width: 100%;
}

.headshot {
    float: right;
    display: inline;
    width: 45%;
    margin: 0em 1em 1em 1em;
}

/* @end */

/* @group Misc Elements */

.super {
    vertical-align: super;
    font-size: 50%;
}

blockquote {  
    margin: 10px 0px 20px 2px; 
    color: #9e9e9e; 
    padding-left: 9px; 
    border-left: 5px solid #dbdbdb;
}

.copyright {
    margin: 2em 0 2em 0;
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
}

.linkarrow {
    color: #9e9e9e;
}

/* @end */

/* @group Role Separators */

.homepage .article hr {
    width: 100%;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    border-style: solid;
    border-width: 1px 0 0 0; 
}

.post hr.small,
.homepage hr.small {
    width: 60%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-style: solid;
    border-width: 1px 0 0 0; 
}

/* @end */



/* @group Homepage */

.homepage .postHeader h1 {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0em;
}

/*.homepage .postHeader h1 img {
	width: 1.5em;
	height: 1.5em;
	top: 0.4em; 
	position: relative;
}*/

.homepage .postHeader {
    margin-top: 4em;
    margin-bottom: 1em;
}

.homepage .postHeaderLinked h1 {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0em;
}

.homepage .postHeaderLinked {
    margin-top: 4em;
    margin-bottom: 1em;
}

.homepage a.post-title {
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: .2em;
    color: #545454; 
}

.homepage a.post-title:hover {
    color: #2e8eef;
    -webkit-transition: all .3s ease-out;
}

.homepage a.post-title.linked {
    font-size: 1em;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: .2em;
    color: #3f70a2;
}

.homepage a.post-title.linked:hover {
    color: #2e8eef;
    -webkit-transition: all .3s ease-out;
}

.homepage .postHeader .postPermalink {
    font-size: .85em;
}

.homepage .postHeaderLinked .postPermalink {
    font-size: .85em;
}

.homepage .postHeader .postDate {
    font-size: .85em;
    margin: 1em 0 1em 0;
    display: block;
}

.homepage .postHeaderLinked .postDate {
    font-size: .85em;
    margin: 1em 0 1em 0;
    display: block;
}

.homepage .time {
	color: #9e9e9e;
	font-size: .85em;
}

.homepage .Linkedtime {
	color: #9e9e9e;
	font-size: .85em;
}

.homepage .dot {
    color: #9e9e9e;
    margin-right: .2em;
    margin-left: .2em;
    vertical-align: -.05em;
}

.homepage .postHeader:nth-of-type(1) {
	margin-top: 5em;
}

.homepage .postHeaderLinked:nth-of-type(1) {
	margin-top: 5em;
}

.homepage .day .daybreak {
    margin-top: 5em;
    margin-bottom:  5em;
    border: 0;
    color: #ddd;
	background-color: #ddd;
	height: .4em;
}

/* @end */



/* @group Posts */

.post .postHeader h1 {
    text-align: center;
    margin-bottom: 0em;
    line-height: 1.5;
    font-size: 2.3em;
    font-weight: 800;
}

.post .postHeader {
    margin-top: 4em;
    margin-bottom: 5em;
    text-align: center;
}

.post .postHeader a {
    color: #545454;
}

.post .postHeaderLinked h1 {
    margin-bottom: 0em;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: 800;
}

.post .postHeaderLinked {
    margin-bottom: 1em;
}

.post .postHeaderLinked .postPermalink {
    display: none;
}

/*.post .postHeader .postPermalink img {
	width: 1.5em;
	height: 1.5em;
	top: 5px; 
	position: relative;
}*/

.post .postHeaderLinked .dot {
    display: none;
}

.post .postHeader .date .time {
    font-size: 1.2em;
    color: #9e9e9e;
    text-align: center;
}

.post .postHeaderLinked .date .Linkedtime {
    font-size: .85em;
    color: #9e9e9e;
}

/* @end */



/* @group Time Page */

.homepage .day .article {
    margin-bottom: 2em;
}

/* @end */



/* @group Tags */

/* (Unused in my version of Camel) */

/* p.taggedIn {
	padding: 12px 10px;
	background: #eee;
	border: 1px solid #ccc;
	margin-top: 25px;
	font-size: 14px;
}

p.taggedIn a {
	font-size: 14px;
}*/

/* @end */



/* @group Footnotes */

.main section.footnotes {
	font-size: 0.85em;
	color: #9e9e9e;
	padding-left: 1em;
}

.main hr.footnotes-sep {
    margin-left: 0;
    margin-bottom: 1.5em;
    margin-top: 5em;
    width: 10em;
    border-style: solid;
    border-width: 0 0 0 0;
/*    border-width: 1px 0 0 0;*/
    border-color: #9e9e9e;
}

.homepage section.footnotes {
    display: none;
}

.homepage .article hr.footnotes-sep {
    display: none;
}

.homepage .footnote-ref {
    display: none;
}

/* Makes the footnote anchors
and backrefs 'meta' color */

.footnote-ref a {
    color: #9e9e9e;
}

a.footnote-backref {
    vertical-align: -.1em;
    color:  #9e9e9e;
}

.footnote-ref a:hover,
a.footnote-backref:hover {
    color: #2e8eef;
    -webkit-transition: all .5s ease-out;
}

/* @end */



/* @group markdown-it-anchor */

.header-anchor, .header-anchor:hover, .title a {
    text-decoration: none
}

h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
    opacity: 1;
}

.header-anchor {
    color: #3f70a2;
    opacity: 0;
    position: absolute;
    margin-left: -1em;
}

/* @end */



/* @group Pagination */

.homepage .paginationFooter {
    display: block;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.homepage .paginationFooter .previousPage {
    display: inline;
    float: right;
    text-transform: uppercase;
    font-weight: 400; 
}

.homepage .paginationFooter .nextPage{
    display: inline;
    float: left;
    text-transform: uppercase;
    font-weight: 400; 
}

/* @end */



/* @group Bottom Nav
(Brent Simmons inspired -- 
http://www.inessential.com) */

.bottomAd {
    border-top: 1px solid #ddd;
    margin-top: 12em;
    height: 165px;
}

.navFooter {
    background-color: #3f70a2;
    height: 165px;
}

.nav {
    padding-top: 3em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.nav a {
    color: #ffffff;
}

.nav a:hover {
    color: #8abef4;
    -webkit-transition: all .3s ease-out;
}

.nav .dot {
    color: #ffffff;
    margin: 0 .3em 0 .3em;
    vertical-align: -.05em;
}

/* @end */



/* @group @media Queries */

@media all and (max-width: 568px) {
    .container {
        margin-left:auto;
        margin-right:auto;
    }

	.content {
	    max-width:75%;
	    font-size: 95%;
	}
	
	.main {
	    margin-top: 7em;
	}
	
	#mastheadbackground {
	   height: 120px;
	   margin-bottom: -120px;
	}
	
	.content .header .siteTitle {
	    max-width: 95%; 
	    margin-top: 0em;
	    margin-bottom: .1em;
	}
	
	.content .header .siteByline {
	    font-size: 95%;
	    color: #ffffff;
	    margin: -1em auto 1.1em auto;
	}
	
	.navFooter {
	    background-color: #3f70a2;
	    height: 120px;
	}
	
	.nav {
	    padding-top: 2em;
	    margin-bottom: .5em;
	}	
}

/* Fix for big ol' Bigfoot button on iPhone 6 Plus */

@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 

    .bigfoot-footnote__button {
      font-size: .7rem;
    }
}

/* @end */