header, footer {
	display: none;
}

body.specialDelivery {
	background: #aaa;
}

body.specialDelivery a,
body.specialDelivery a:hover {
	background: none;
	border: none;
	color: #ff333f
}

div.specialDelivery {
	background-color: #eee;
	border-radius: 1em;
	margin: 5em auto;
	padding: 2em;
	text-align: center;
}
