/* ===================================== */
/* Variables                             */
/* ===================================== */

:root {
	--background: rgba(63, 112, 162, 0.3);
	--banner: #3f70a2;
	--border-radius: 0.2em;
	--gray: #eee;
	--gray-dark: #ddd;
	--link: #3f70a2;
	--mark: rgba(255, 255, 0, 0.5);
	--mark-green: rgba(0, 128, 0, 0.3);
	--mark-red: rgba(255, 0, 0, 0.25);
	--meta: #999;
	--text: #555;
}

/* ===================================== */
/* Desktop & Tablet Displays             */
/* ===================================== */

html {
	background: white;
}

body {
	background: var(--background);
	color: var(--text);
	font-size: 15pt;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', -apple-system, sans-serif;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 1.25em auto -0.25em auto;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

a {
	color: var(--banner);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	word-break: break-word;
}

a[href*="amazon."]:after {
    content: ' (Amazon)';
}

a[href*="itunes.apple."]:after {
	content: ' (iTunes Store)';
}

a[href*="itunes.apple.com/us/book"]:after {
	content: ' (iBooks Store)';
}

a[href*="itunes.apple.com/us/app"]:after,
a[href*="itunes.apple.com/app"]:after {
	content: ' (App Store)';
}

a[href*="overcast.fm/+"]:after,
a[href*="https://overcast.fm/itunes"]:after,
a[href*="https://overcast.fm/login"]:after {
    content: " (Overcast)";
}

div.entry a,
div.readmore a {
	border-bottom: 2px solid var(--gray);
	padding-bottom: 1px;
	transition: all 0.2s ease-in-out;
}

div.entry a:hover,
div.readmore a:hover {
	background: var(--gray);
	border-bottom: none;
	border-radius: 2px;
}

div.entry a.nohover,
div.entry a.nohover:hover {
	background: none;
	border: none;
}

/* Site Header                           */
/* ===================================== */

header#siteheader {
	background-color: var(--banner);
	color: white;
	text-align: center;
}

header#siteheader a {
	color: white;
}

img#sitelogo {
	display: initial;
	margin: 0 0.05em 0 0.05em;
	vertical-align: baseline;
	width: 0.65em;
}

h1#sitetitle {
	font-weight: 700;
	margin: 0;
	padding-top: 0.35em;
}

p#sitebyline {
	margin-top: -1em;
	margin-bottom: 0;
	padding-bottom: 1.75em;
}

.fadeindown {
	animation: fadeindown 0.5s;
}

@keyframes fadeindown {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Homepage                              */
/* ===================================== */

main {
	background: white;
	margin: auto;
	max-width: 800px;
	padding: 1.5em 2em 4em 2em;
	width: 70%;
}

body.homepage main { /* Don't mess with this, you idiot */
	background: transparent;
	margin: 1em auto 1em auto;
	padding: 0;
	width: 90%;
}

body.homepage section.day article div.entry,
body.homepage section:first-of-type article:first-of-type div.description,
body.homepage section:first-of-type article:first-of-type div.readmore {
	display: none;
}

body.homepage section:first-of-type article:first-of-type div:nth-of-type(2) {
	display: initial;
}

.fadeinup {
	animation: fadeinup 0.5s;
}

@keyframes fadeinup {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

article {
	background: white;
	border-radius: var(--border-radius);
	margin: auto auto 1.5em auto;
	padding: 1.75em;
}

/* Page & Post Headers                   */
/* ===================================== */

section.day > h2 {
	display: none;
}

header > h2 {
	font-weight: 700;
	line-height: 1.35;
	margin: auto;
}

header.postheader h2 a {
	color: var(--text);
}

header.postheader h2 {
	font-size: 2.1em;
}

header.postheader a:hover,
header.postheaderlinked a:hover,
header.postheaderlinked a:hover span.linkarrow {
	color: var(--link);
}

header.postheaderlinked span.linkarrow {
	color: var(--meta);
	transition: all 0.2s ease-in-out;
	vertical-align: -4%;
}

/* Page & Post Subtitles                 */
/* ===================================== */

ul.postsubtitle {
	color: var(--meta);
	display: inline;
	font-size: 0.9em;
	list-style: none;
	padding: 0;
}

ul.postsubtitle a {
	color: var(--meta);
}

ul.postsubtitle a:hover {
	color: var(--link);
}

ul.postsubtitle label {
	display: none; /* Don't mess with this, you idiot */
}

ul.postsubtitle li {
	display: inline;
	padding: 0;
}

ul.postsubtitle li.date:after {
	content: '•';
	margin: 0 0.25em 0 0.25em;
}

ul.postsubtitle li.tags ul {
	display: inline;
	padding: 0;
}

ul.postsubtitle li.tags ul li:after {
	content: ' and ';
}

ul.postsubtitle li.tags ul li:last-child:after {
	content: initial;
}

/* Page & Post Content                   */
/* ===================================== */

em.topstory code {
	font-style: normal;
}

figure {
	margin: 1em auto;
}

img {
	border-radius: var(--border-radius);
	display: block;
	margin: auto;
	vertical-align: middle; /* Don't mess with this, you idiot */
	max-width: 100%;
}

img.twoinline {
	display: inline;
	margin: 1% 1% 1% 2%;
	width: 46%;
}

img.threeinline {
	display: initial;
	margin: 1% 1% 1% 2%;
	width: 29%;
}

img.small {
	max-width: 50%;
}

ul img,
ol img,
blockquote img {
	margin-left: initial; /* Don't mess with this, you idiot */
}

figcaption {
	background: var(--gray);
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	color: var(--meta);
	font-size: 0.8em;
	font-style: italic;
	margin: auto;
	padding: 0.75em;
	width: 80%;
}

figcaption.source,
figcaption code  {
	font-style: normal;
}

img.small + figcaption {
	margin: auto;
	width: 40%;
}

audio {
	width: 100%;
}

video {
	margin: auto;
	max-width: 100%;
}

iframe {
	border: none;
}

div.fluid-width-video-wrapper {
	margin: 1em auto;
}

blockquote {
	border-left: 3px solid var(--gray-dark);
	color: #888;
	margin: 1em;
	padding-left: 1em;
}

blockquote.convo {
	border-left: none;
	font-style: italic;
}

pre {
	background: var(--gray);
	border-radius: var(--border-radius);
	font-family: 'Menlo', monospace;
	font-size: 0.8em;
	overflow: auto;
	padding: 0.5em 0.75em 0.5em 0.75em;
}

code {
	background: var(--gray);
	border-radius: var(--border-radius);
	font-family: 'Menlo', monospace;
	font-size: 0.8em;
	padding: 0.25em;
	word-break: break-word; /* Don't mess with this, you idiot */
}

pre code {
	font-size: 0.9em;
	padding: 0; /* Don't mess with this, you idiot */
}

mark {
	background: var(--mark);
	border-radius: var(--border-radius);
	display: inline-block;
	padding: 0.25em 0.6em 0.25em 0.6em;
}

mark.green {
	background: var(--mark-green);
}

mark.red {
	background: var(--mark-red);
}

body.homepage pre code {
	white-space: pre-line; /* Don't mess with this, you idiot */
}

ul, ol, dl {
	padding-left: 2.5em;
}

li {
	margin: 1em auto 1em auto;
	padding-left: 0.25em;
}

div.table {
	overflow: auto; /* Don't mess with this, you idiot */
}

table {
	border-bottom: 2px solid var(--gray-dark);
	border-right: 2px solid var(--gray-dark);
	border-collapse: collapse;
	margin: auto;
}

table.sortable thead {
	cursor: default;
}

table th {
	background: var(--gray);
	border-top: 2px solid var(--gray-dark);
	border-left: 2px solid var(--gray-dark);
	padding: 0.3em 1em;
}

table td {
	border-top: 2px solid var(--gray-dark);
	border-left: 2px solid var(--gray-dark);
	padding: 0.3em 1em;
}

table th code {
	border: 1px solid var(--gray-dark);
	border-radius: var(--border-radius);
}

em.takehome {
	border-top: 4px solid var(--gray-dark);
	border-bottom: 4px solid var(--gray-dark);
	color: var(--link);
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.5;
	padding: 0.5em 0 0.5em 0.1em;
	text-transform: uppercase;
}

aside.update {
	background: var(--gray);
	border-radius: var(--border-radius);
	margin-top: 2em;
	padding: 1.75em;
}

aside.update h3 {
	margin-top: 0;
}

p.updatetime {
	color: var(--meta);
	font-size: 0.9em;
	margin-top: 0.5em;
}

aside.update a {
	border-bottom: 2px solid var(--gray-dark);
	padding-bottom: 1px;
	word-break: break-word;
}

aside.update a:hover {
	background: var(--gray-dark);
}

aside.update blockquote {
	border-left-color: var(--gray-dark);
}

aside.update pre {
	background-color: var(--gray-dark);
}

aside.update code {
	background: var(--gray-dark);
}

aside.update figcaption {
	background: var(--gray-dark);
	color: #777;
}

hr {
	border: none;
	color: var(--meta);
	text-align: center;
}

hr:after {
	content: "***";
	font-size: 1.25em;
	letter-spacing: 0.25em;
	position: relative;
	top: 0.2em;
}

hr.long {
	border-radius: var(--border-radius);
	border: 1px solid var(--gray-dark);
	margin: 1.5em auto 1.5em auto;
	width: 100%;
}

hr.long:after {
	content: normal;
}

/* Footnotes                             */
/* ===================================== */

sup.footnote-ref a {
	border-bottom: none;
	color: var(--meta);
	transition: all 0.2s ease-in-out;
}

sup.footnote-ref a:hover,
a.footnote-backref:hover {
	background: none;
	border-bottom: none;
	border-radius: none;
	color: var(--link);
}

div.footnotes {
	color: var(--meta);
	font-size: 0.8em;
	margin: 5em 0 4em 0;
}

hr.footnotes-sep {
	border: 1px solid var(--gray-dark);
	margin: 2em 0 2em 0;
	width: 25%;
	font-size: initial;
	letter-spacing: initial;
	position: initial;
	top: initial;
}

hr.footnotes-sep:after {
	content: initial;
}

ol.footnotes-list {
	padding-left: 2em;
}

a.footnote-backref {
	border-bottom: none;
	color: var(--meta);
}

/* Pagination                            */
/* ===================================== */

section#pagination {
	background: white;
	border-radius: var(--border-radius);
	font-size: 1.1em;
	font-weight: 400;
	height: 1.75em;
	margin: 1.5em auto 1.5em auto;
	padding: 1.25em 1.5em 1em 1.5em;
}

section#pagination > h2 {
	display: none;
}

section#pagination p {
	margin: auto;
}

section#pagination a {
	color: #999;
}

section#pagination a:hover {
	color: var(--link);
}

section#pagination .previousPage {
	float: right;
}

/* Footer                                */
/* ===================================== */

footer {
	background: white;
	color: var(--meta);
	text-align: center;
}

div#bottomgraybar {
	background: var(--meta);
	min-height: 0.25em;
}

div#bottomad {
	background: var(--meta);
	margin: auto;
	padding: 0.1em;
}

div#bottomad > h2 {
	display: none;
}

div#bottomad figure {
	background: inherit;
	border: inherit;
}

div#bottomad figure img {
	background: white;
	border-radius: var(--border-radius);
	box-shadow: 1px 1px 2px var(--meta);
	padding: 0.5em 0.25em 0.5em 0.25em;
	width: 125px;
}

div#bottomad figure figcaption {
	background: inherit; /* Don't mess with this, you idiot */
	color: var(--gray-dark);
	font-size: 0.75em;
	margin: 1em auto;
	padding: 0;
}

nav {
	padding: 1.5em 0 1.5em 0;
}

nav > h2 {
	display: none;
}

nav ul {
	margin: 0.5em;
	padding: 0;
}

nav li {
	font-size: larger;
	list-style: none;
	margin: 0.5em auto;
	padding: 0;
}

nav li a {
	color: var(--meta);
}

nav li a:hover {
	color: var(--link);
}

/* Cribbed from Hardik Pandya
(http://hardik.org/2013/06/01/stylising-duckduckgo-site-search/) */
form#search input {
	background-color: #f8f8f8;
	border: 2px solid var(--gray-dark);
	border-radius: var(--border-radius);
	color: var(--meta);
	max-width: 200px;
	padding: 0.5em;
	transition: all 0.2s ease-in-out;
	width: 50%;
}

form#search input:focus {
	border: 2px solid #ccc;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
	outline: none;
}

p#copyright {
	font-size: 0.7em;
	margin: 0;
	padding: 1.5em 0 1.5em 0;
}

p#copyright a {
	color: inherit;
}

/* ===================================== */
/* Phone Displays                        */
/* ===================================== */
@media (max-width: 740px) {

	body {
		font-size: large;
	}

	h1#sitetitle {
		font-size: 8.5vw;
		padding-top: 4vw;
	}

	p#sitebyline {
		margin-top: -2vw;
		padding-bottom: 6vw;
	}

	header.postheader h2 {
		font-size: 1.6em;
	}

	header.postheaderlinked h2 {
		font-size: 1.5em;
	}

	img.small {
		max-width: 100%;
	}

}

/* ===================================== */
/* Smaller Phone Displays                */
/* ===================================== */
@media (max-width: 320px) {

	body {
		font-size: medium;
	}

	blockquote {
		margin: 0.25em;
	}

}
