@charset "UTF-8";
.fadeindown {
  -webkit-animation: fadeindown 1s;
          animation: fadeindown 1s; }

@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.fadeinup {
  -webkit-animation: fadeinup 1s;
          animation: fadeinup 1s; }

@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  25% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
  50%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  25% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
  50%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }

@-webkit-keyframes spiny-spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@keyframes spiny-spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@-webkit-keyframes slide-back-and-forth {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em); }
  75% {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em); } }

@keyframes slide-back-and-forth {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em); }
  75% {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em); } }

body {
  background: #3f70a2;
  color: #3b3b3b;
  font-size: 14pt;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55;
  margin: 0;
  padding: 0;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 2em auto -0.25em auto; }
  .entry h1 a, .entry h2 a, .entry h3 a, .entry h4 a, .entry h5 a, .entry h6 a {
    border-bottom: none; }
    .entry h1 a:hover, .entry h1 a:focus, .entry h2 a:hover, .entry h2 a:focus, .entry h3 a:hover, .entry h3 a:focus, .entry h4 a:hover, .entry h4 a:focus, .entry h5 a:hover, .entry h5 a:focus, .entry h6 a:hover, .entry h6 a:focus {
      border-bottom: none;
      background: none; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

a {
  color: #3f70a2;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  word-break: break-word; }

.homepage-day:first-of-type .homepage-article:first-of-type {
  margin-top: 0; }
  .homepage-article:hover .homepage-day:first-of-type .homepage-article:first-of-type, .homepage-article:focus .homepage-day:first-of-type .homepage-article:first-of-type {
    border-bottom-color: #b3b2b2; }
    .homepage-article:hover .homepage-day:first-of-type .homepage-article:first-of-type:hover, .homepage-article:hover .homepage-day:first-of-type .homepage-article:first-of-type:focus, .homepage-article:focus .homepage-day:first-of-type .homepage-article:first-of-type:hover, .homepage-article:focus .homepage-day:first-of-type .homepage-article:first-of-type:focus {
      background: white;
      border-bottom-color: white;
      color: #3f70a2; }

.entry a,
.homepage-article-readmore,
.page + .entry a {
  border-bottom: 0.25em solid #eee; }
  .entry a:hover, .entry a:focus,
  .homepage-article-readmore:hover,
  .homepage-article-readmore:focus,
  .page + .entry a:hover,
  .page + .entry a:focus {
    background: #eee; }
  .entry a:visited,
  .homepage-article-readmore:visited,
  .page + .entry a:visited {
    color: #834c7f; }

.tags + .entry a,
.eachtag + .entry a,
.year + .entry a,
.month + .entry a,
.day + .entry a {
  border-bottom: none; }
  .tags + .entry a:hover, .tags + .entry a:focus,
  .eachtag + .entry a:hover,
  .eachtag + .entry a:focus,
  .year + .entry a:hover,
  .year + .entry a:focus,
  .month + .entry a:hover,
  .month + .entry a:focus,
  .day + .entry a:hover,
  .day + .entry a:focus {
    background: #eee; }
  .tags + .entry a:visited,
  .eachtag + .entry a:visited,
  .year + .entry a:visited,
  .month + .entry a:visited,
  .day + .entry a:visited {
    color: #834c7f; }

.container {
  background: #a0bdda; }

.content {
  background: white;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 700px;
  min-height: calc(100vh - 15vmax - 350px);
  padding: 2em;
  width: 80%; }
  .content h2:first-of-type {
    margin-top: 0; }

.hidden {
  display: none; }

.homepage-article {
  margin: 2em 0;
  padding: 1em;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .homepage-article:hover, .homepage-article:focus {
    background: #3f70a2;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 3em; }
    .homepage-article:hover *, .homepage-article:focus * {
      color: white; }

.homepage-article-readmore:hover, .homepage-article-readmore:focus {
  color: #3f70a2;
  border-bottom: none; }

.homepage-article-readmore-container {
  margin-bottom: 0; }

.homepage-article-separator {
  border-radius: 1em;
  border: 0.75em solid #ddd;
  color: #ddd;
  margin: 1.5em auto 1.5em auto; }
  .homepage-article-separator:after {
    content: normal; }

.siteheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vmax;
  max-height: 200px;
  text-align: center; }
  .siteheader:hover .siteheader-heading-logo, .siteheader:focus .siteheader-heading-logo {
    -webkit-animation: rotate 2s infinite;
            animation: rotate 2s infinite; }
  .siteheader a {
    color: white; }

.siteheader-heading {
  font-weight: 700;
  margin: 0; }

.siteheader-heading-logo {
  display: initial;
  margin: 0 0.05em;
  vertical-align: baseline;
  width: 0.65em; }

.siteheader-tagline {
  margin: -0.75em auto auto; }

.postheader > h2,
.postheaderlinked > h2 {
  font-weight: 700;
  line-height: 1.3;
  margin: auto; }

.postheader-heading {
  font-size: 1.65em; }

.postheader-heading-link {
  color: #3b3b3b; }
  .postheader-heading-link:hover, .postheader-heading-link:focus {
    color: #3f70a2; }
  .homepage-article:hover .postheader-heading-link, .homepage-article:focus .postheader-heading-link {
    color: white; }

.postheaderlinked-arrow {
  color: #999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: -4%;
  display: inline-block; }
  .postheaderlinked-heading:hover .postheaderlinked-arrow,
  .postheaderlinked-heading:focus .postheaderlinked-arrow {
    color: #3f70a2;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
  .homepage-article:hover .postheaderlinked-heading:hover .postheaderlinked-arrow, .homepage-article:focus .postheaderlinked-heading:focus .postheaderlinked-arrow {
    color: white; }

.postsubtitle {
  display: inline;
  font-size: 0.9em;
  list-style: none;
  padding: 0; }
  .postsubtitle * {
    color: #999;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    .postsubtitle *:hover, .postsubtitle *:focus {
      color: #3f70a2; }
    .homepage-article:hover .postsubtitle *, .homepage-article:focus .postsubtitle * {
      color: #b3b2b2; }
      .homepage-article:hover .postsubtitle *:hover, .homepage-article:hover .postsubtitle *:focus, .homepage-article:focus .postsubtitle *:hover, .homepage-article:focus .postsubtitle *:focus {
        color: white; }
  .postsubtitle li {
    display: inline;
    padding: 0; }

.postsubtitle-date:after {
  color: #999;
  content: '•';
  margin: 0 0.25em 0 0.25em; }
  .homepage-article:hover .postsubtitle-date:after, .homepage-article:focus .postsubtitle-date:after {
    color: #b3b2b2; }

.postsubtitle-tags {
  display: inline;
  padding: 0; }

.postsubtitle-tags-tag:after {
  color: #999;
  content: ' and '; }
  .homepage-article:hover .postsubtitle-tags-tag:after, .homepage-article:focus .postsubtitle-tags-tag:after {
    color: #b3b2b2; }

.postsubtitle-tags-tag:last-child:after {
  content: initial; }

.topstory code {
  font-style: normal; }

.table-of-contents {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin: 4em auto 2em auto;
  font-size: 95%; }
  .table-of-contents h4 {
    margin-top: 0.75em; }
  .table-of-contents ul {
    list-style-type: square;
    padding-left: 1em; }
  .table-of-contents li {
    margin: 0.5em auto 0.5em 1em; }
  .table-of-contents a {
    color: #3b3b3b;
    border-bottom: none; }
    .table-of-contents a:visited {
      color: #3b3b3b; }
  .table-of-contents li {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; }
    .table-of-contents li:hover, .table-of-contents li:active {
      -webkit-transform: scale(1.01);
              transform: scale(1.01); }

figure {
  margin: 1em auto; }

img {
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  vertical-align: middle;
  max-width: 100%; }

.border {
  border: solid 0.25em #eee;
  border-radius: 0.5em; }

.twoinline {
  display: inline;
  margin: 1%;
  width: 46%; }

.threeinline {
  display: initial;
  margin: 1%;
  width: 29%; }

ul img, ol img, blockquote img {
  margin-left: initial; }

figcaption {
  background: #eee;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #999;
  font-size: 0.8em;
  margin: auto;
  min-width: 100px;
  max-width: 80%;
  padding: 0.75em 1.5em; }

audio {
  width: 100%; }

video {
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 100%; }

iframe {
  border: none; }

.radius {
  border-radius: 0.3em; }

.fluid-width-video-wrapper {
  margin: 1em auto; }

blockquote {
  border-left: 3px solid #ddd;
  color: #888;
  margin: 1em;
  padding-left: 1em; }

.convo {
  border-left: none;
  font-style: italic; }

.spoilers-tagline {
  font-weight: bold;
  margin: 1em auto; }
  .spoilers-tagline:focus {
    outline: none; }

.spoilers-content {
  background: #eee;
  border-radius: 0.5em;
  padding: 0.25em 1em; }

pre, code {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Monaco", "Menlo", monospace;
  font-style: normal;
  font-weight: 500; }

pre {
  background: #eee;
  border-radius: 0.5em;
  font-size: 0.85em;
  padding: 0.5em 1em;
  overflow: auto;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2; }

code {
  background: #eee;
  border-radius: 0.5em;
  font-size: 0.8em;
  padding: 0.25em; }

pre code {
  font-size: 0.9em;
  padding: 0; }

.stupid-bigfoot-pre-overflow {
  white-space: pre-line; }

a code {
  padding-bottom: 0.4em; }

.twitter-tweet a {
  border-bottom: none !important; }

.twitter-timeline {
  border-radius: 0.5em;
  border: 0.25em solid #ddd !important;
  max-width: 500px !important;
  margin: auto auto auto auto !important;
  display: block !important; }

mark {
  background: rgba(255, 255, 0, 0.5);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.25em 0.6em 0.25em 0.6em; }

mark.green {
  background: rgba(0, 128, 0, 0.3); }

mark.red {
  background: rgba(255, 0, 0, 0.25); }

ul, ol, dl {
  padding-left: 2em; }

li {
  margin: 0.75em auto; }

.table {
  overflow: auto; }

table {
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-collapse: collapse;
  margin: auto; }
  table th {
    background: #eee;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    padding: 0.3em 1em; }
    table th code {
      border: 1px solid #ddd;
      border-radius: 0.5em; }
  table td {
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    padding: 0.3em 1em; }

.sortable thead {
  cursor: default; }

.takehome {
  border-top: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  color: #3f70a2;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.5em 0 0.5em 0.1em;
  text-transform: uppercase; }

.update {
  background: #eee;
  border-radius: 0.5em;
  padding: 1.5em;
  font-size: 85%; }
  .update h4 {
    margin-top: 0; }
  .update a {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1px;
    word-break: break-word; }
    .update a:hover, .update a:focus {
      background: #ddd; }
  .update blockquote {
    border-left-color: #ddd; }
  .update pre {
    background-color: #ddd; }
  .update code {
    background: #ddd; }
  .update figcaption {
    background: #ddd;
    color: #777; }

.updatetime {
  color: #999;
  font-size: 0.9em;
  margin-top: 0.5em; }

hr {
  border: none;
  color: #555;
  text-align: center; }
  hr:after {
    content: "***";
    font-size: 1.25em;
    letter-spacing: 0.25em;
    position: relative;
    top: 0.2em; }

.long {
  border-radius: 0.5em;
  border: 1px solid #ddd;
  margin: 1.5em auto 1.5em auto;
  width: 100%; }
  .long:after {
    content: normal; }

.header-anchor {
  opacity: 0;
  border-bottom: none;
  font-size: 75%;
  vertical-align: 9%; }
  .header-anchor:hover, .header-anchor:focus {
    opacity: 1;
    background: none; }

.page .header-anchor {
  border-bottom: none; }

.post .entry {
  margin-bottom: 6em; }

.footnote-ref a {
  border-bottom: none;
  color: #999; }

.footnote-ref a:hover,
.footnote-backref:hover {
  color: #3f70a2; }

a.footnote-backref {
  border-bottom: none; }

.footnotes {
  color: #999;
  font-size: 0.8em;
  margin: 5em 0 4em 0; }

.footnotes-sep {
  border: 1px solid #ddd;
  margin: 2em 0 2em 0;
  width: 25%;
  font-size: initial;
  letter-spacing: initial;
  position: initial;
  top: initial; }

.footnotes-sep:after {
  content: initial; }

.footnotes-list {
  padding-left: 2em; }

.footnote-backref {
  border-bottom: none;
  color: #999; }

a.foot-note-backref {
  border-bottom: none; }

.homepage-pagination {
  background: white;
  border-radius: 0.5em;
  font-size: 1.1em;
  font-weight: 400;
  height: 1.75em;
  font-weight: 700;
  margin: 3em auto; }

.homepage-pagination-older, .homepage-pagination-newer {
  display: inline-block;
  border-radius: 2em;
  background: #3f70a2;
  color: white;
  width: 100px;
  font-size: large;
  padding: 1em 0.75em 0.75em 0.75em;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-align: center; }
  .homepage-pagination-older:hover, .homepage-pagination-older:focus, .homepage-pagination-newer:hover, .homepage-pagination-newer:focus {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.1); }
  .homepage-pagination-older:active, .homepage-pagination-newer:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.1em solid #eee; }

.homepage-pagination-newer {
  float: right; }

.footer {
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 350px; }
  .footer a {
    color: inherit; }

.footer-bottomad {
  background: #6996c5;
  margin: auto;
  padding: 0.1em;
  min-height: 0.25em; }
  .footer-bottomad:hover .footer-bottomad-image, .footer-bottomad:focus .footer-bottomad-image {
    -webkit-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }

.footer-bottomad-image-container {
  background: inherit;
  border: inherit; }

.footer-bottomad-image {
  background: white;
  border-radius: 0.5em;
  padding: 0.5em 0.25em 0.5em 0.25em;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  width: 125px; }

.footer-bottomad-caption {
  background: inherit;
  color: white;
  font-size: 0.75em;
  margin: 1em auto;
  padding: 0; }

.navigation {
  padding: 1em; }

.navigation-list {
  margin: 0.5em;
  padding: 0;
  font-weight: 700; }

.navigation-list-item {
  border-radius: 2em;
  background: white;
  color: #3f70a2;
  font-size: large;
  list-style: none;
  margin: 1em auto;
  width: 100px;
  padding: 0.5em 0.25em 0.25em 0.25em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .navigation-list-item:hover, .navigation-list-item:focus {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2); }
  .navigation-list-item:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.1em solid #999; }

.footer-search {
  padding: 1em; }

.footer-search input {
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 0.5em;
  color: #999;
  max-width: 300px;
  padding: 0.5em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", Avenir, sans-serif;
  text-align: center; }
  .footer-search input:hover {
    border: 2px solid #999; }
  .footer-search input:active, .footer-search input:focus {
    border: 2px solid #666666;
    outline: none;
    -webkit-box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-align: initial; }
  .footer-search input:active::-webkit-input-placeholder, .footer-search input:focus::-webkit-input-placeholder {
    opacity: 0; }
  .footer-search input:active:-ms-input-placeholder, .footer-search input:focus:-ms-input-placeholder {
    opacity: 0; }
  .footer-search input:active::-ms-input-placeholder, .footer-search input:focus::-ms-input-placeholder {
    opacity: 0; }
  .footer-search input:active::placeholder, .footer-search input:focus::placeholder {
    opacity: 0; }

.footer-copyright {
  font-size: 0.7em;
  margin: 0;
  padding: 1em; }

/* Based on `bigfoot-number.css`
http://bigfootjs.com/download/bigfoot-number.zip */
/* Position of footnote button */
.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.5em;
  /* margin: 0 0.1em 0 0.2em; */
  margin: 0 0.125em 0 0.1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #eee;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1em;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "-apple-system", Avenir, sans-serif;
  line-height: 0;
  /* Sets the vertical height of button */
  /* vertical-align: middle; */
  vertical-align: super;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s; }

.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus {
  outline: none;
  background-color: #bbb; }

.bigfoot-footnote__button:active {
  background-color: #ccc; }

/* Adjusts color of button when active */
.bigfoot-footnote__button.is-active {
  /*background-color: #6e6e6e;*/
  background-color: #555;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.bigfoot-footnote__button:after {
  content: '';
  display: table;
  clear: both; }

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left; }

.bigfoot-footnote__button__circle:last-child {
  margin-right: 0; }

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0; }

/* Footnote open */
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #eee;
  opacity: 0;
  /* border-radius: 0.5em; */
  border-radius: 2em;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
  -webkit-box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
          box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
  /* border: 1px solid #c3c3c3; */
  border: 0.3em solid #3f70a2;
  line-height: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0; }

.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0; }

/* Opacity */
.bigfoot-footnote.is-active {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  /* opacity: 0.97; */
  opacity: 1; }

.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.bigfoot-footnote.is-bottom-fixed.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%; }

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
  border-radius: 0; }

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none; }

.bigfoot-footnote.is-scrollable:after {
  content: '';
  position: absolute;
  bottom: 0.3375em;
  left: 0.3375em;
  z-index: 14;
  display: block;
  height: 0.78125em;
  width: 0.625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: 0.1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before,
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0; }

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafafa), to(rgba(250, 250, 250, 0)));
  background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fafafa), to(rgba(250, 250, 250, 0)));
  background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }

.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none; }

.bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0; }

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  /* border-radius: 0.5em; */
  border-radius: 2em;
  line-height: 0; }

/* Stuff inside the footnote */
.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  /* padding: 1.1em 1.3em 1.2em; */
  padding: 0 1em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  /* border-radius: 0.4em; */
  border-radius: 2em;
  -webkit-font-smoothing: subpixel-antialiased;
  /* line-height: normal */
  line-height: 1.6; }

.bigfoot-footnote__content img {
  max-width: 100%; }

.bigfoot-footnote__content a {
  border-bottom: 2px solid #ddd; }

.bigfoot-footnote__content * :last-child {
  margin-bottom: 0 !important; }

.bigfoot-footnote__content * :first-child {
  margin-top: 0 !important; }

.bigfoot-footnote__content blockquote {
  border-left-color: #ccc; }

/* Arrow thingy */
.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  /* border: 1px solid #c3c3c3; */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
  -webkit-box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
          box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
  border: 0.3em #3f70a2 solid; }

.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -0.65em; }

.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -0.65em; }

/* Shape of Bigfoot button */
.bigfoot-footnote__button {
  position: relative;
  /* height: 0.95em;
  width: 1.5em;
  border-radius: 0.475em; */
  height: 1em;
  width: 1em;
  border-radius: .5em; }

.bigfoot-footnote__button:after {
  content: attr(data-footnote-number);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  font-size: 0.57em;
  font-weight: bold;
  color: rgba(110, 110, 110, 0.5);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease; }

.bigfoot-footnote__button:hover:after,
.bigfoot-footnote__button.is-active:after {
  color: white; }

.bigfoot-footnote__button__circle {
  display: none; }

/* Keeps links from overwhelming content of footnote */
.bigfoot-footnote__content a {
  word-break: break-word; }

@media not print {
  .footnote-print-only {
    display: none !important; } }

@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important; } }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
/* Turned all this off because I like my <pre><code> style better (duh) */
/* .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
} */
.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333; }

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080; }

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14; }

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900; }

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458; }

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080; }

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080; }

.hljs-regexp {
  color: #009926; }

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073; }

.hljs-built_in {
  color: #0086b3; }

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.diff .hljs-change {
  background: #0086b3; }

.hljs-chunk {
  color: #aaa; }

body.black {
  background: black;
  color: #bbb;
  text-align: center; }
  body.black header,
  body.black footer {
    display: none; }
  body.black h1 {
    font-size: 2em;
    margin: auto;
    text-align: center; }
  body.black video {
    margin: 1em auto;
    width: 100%; }
  body.black main {
    background: inherit; }
    body.black main a {
      border-bottom: 0.1em #bbb solid;
      color: #bbb; }
      body.black main a:hover, body.black main a:focus {
        color: black;
        border-bottom: none; }

body.smokey {
  background: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body.smokey .container {
    background-color: inherit; }
  body.smokey header, body.smokey footer {
    display: none; }
  body.smokey main {
    background: inherit;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    body.smokey main:hover, body.smokey main:focus {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      @media all and (max-width: 600px) {
        body.smokey main:hover, body.smokey main:focus {
          -webkit-transform: none;
                  transform: none; } }
    body.smokey main:active {
      -webkit-transform: initial;
              transform: initial;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }

body.valentines-2015 {
  background: pink;
  color: white; }
  body.valentines-2015 header, body.valentines-2015 footer {
    display: none; }
  body.valentines-2015 a {
    color: inherit;
    border-bottom: 0.1em dashed; }
    body.valentines-2015 a:hover, body.valentines-2015 a:focus {
      background: pink;
      border-bottom: none; }
  body.valentines-2015 hr {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    body.valentines-2015 hr:hover, body.valentines-2015 hr:focus {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
  body.valentines-2015 hr::after {
    content: "❤︎❤︎❤︎";
    color: white; }
  body.valentines-2015 main {
    background: #ff8da1;
    text-align: center; }

@media (max-width: 900px) {
  .siteheader {
    height: 22vmax; } }

@media (max-width: 600px) {
  .siteheader {
    height: 25vmax;
    max-height: 120px; }
  .siteheader-heading {
    font-size: 8vmin; }
  .siteheader-tagline, .siteheader-text {
    display: none; }
  .siteheader-heading-logo {
    vertical-align: middle;
    width: 2em; }
  .entry a {
    border-bottom: none; }
  blockquote {
    margin: 0.25em; }
  .postheader > h2,
  .postheaderlinked > h2,
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2; }
  .content {
    width: 100%;
    padding: 1.25em; }
  .homepage-article {
    margin: 1em 0;
    padding: 1.25em 0; }
    .homepage-article:hover, .homepage-article:focus {
      padding: 1em; }
  .homepage-article-separator {
    border-width: 0.5em;
    margin: 1em auto; }
  .postheader > h2 {
    font-size: 1.6em; }
  .postheaderlinked > h2 {
    font-size: 1.5em; }
  .small {
    max-width: 100%; }
  .entry ul, .entry ol {
    margin-left: 0.5em;
    padding-left: 0.75em; }
    .entry ul img, .entry ol img {
      max-width: 100%; }
  img, video {
    max-width: calc(100% + 2.5em);
    margin-left: -1.25em;
    border-radius: 0; }
  li {
    padding-left: 0; }
  .homepage-teaser-image {
    width: 100%;
    margin: auto; } }

@media (max-width: 320px) {
  body {
    font-size: large; }
  .siteheader {
    max-height: 100px; } }
/*# sourceMappingURL=styles.css.map */