body.black
  background: black
  color: #bbb
  text-align: center

  header,
  footer
    display: none

  h1
    font-size: 2em
    margin: auto
    text-align: center

  video
    margin: 1em auto
    width: 100%

  main
    background: inherit

    a
      border-bottom: 0.1em #bbb solid
      color: #bbb

      &:hover, &:focus
        color: black
        border-bottom: none
