.footer
	background: $blue
	color: white
	text-align: center

	a
		color: inherit

.footer-bottomad
	background: $adblue
	margin: auto
	padding: 0.1em
	min-height: 0.25em

	&:hover .footer-bottomad-image, &:focus .footer-bottomad-image
		transform: scale(1.1) rotate(360deg)
		transition: all 300ms ease-out

.footer-bottomad-image-container
	background: inherit
	border: inherit

.footer-bottomad-image
	background: white
	border-radius: 0.2em
	padding: 0.5em 0.25em 0.5em 0.25em
	transition: all 200ms ease-in
	width: 125px

.footer-bottomad-caption
	background: inherit
	color: white
	font-size: 0.75em
	margin: 1em auto
	padding: 0

.navigation
	padding: 1.5em 0 1.5em 0

.navigation-list
	// margin: 0.5em
	margin: 0.5em
	padding: 0

.navigation-list-item
	// border-radius: 0.25em
	border-radius: 1.25em
	background: white
	color: $blue
	font-size: large
	list-style: none
	// margin: 0.5em auto
	margin: 1em auto
	width: 100px
	padding: 0.15em 0.25em
	transition: all 200ms ease-in-out
	// text-transform: uppercase

	&:hover, &:focus
		// color: $blue
		// background: white
		// border-radius: 0.25em
		transform: scale(1.05)
		box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2)

	&:active
		box-shadow: initial

	// &:hover a, &:focus a
	// 	color: $blue

// Cribbed from Hardik Pandya (http://hardik.org/2013/06/01/stylising-duckduckgo-site-search/)
.footer-search input
	background-color: #f8f8f8
	border: 2px solid $gray
	border-radius: 0.2em
	color: #999
	max-width: 200px
	padding: 0.5em
	transition: all 0.2s ease-in-out
	width: 50%
	font-family: $sans

	&:hover
		border: 2px solid $darkgray

	&:active, &:focus
		border: 2px solid darken($darkgray,20%)
		outline: none
		box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2)

.footer-copyright
	font-size: 0.7em
	margin: 0
	padding: 1.5em 0 1.5em 0
