.footnote-ref a
	border-bottom: none
	color: $darkgray

.footnote-ref a:hover,
.footnote-backref:hover
	color: $blue

.footnotes
	color: $darkgray
	font-size: 0.8em
	margin: 5em 0 4em 0

.footnotes-sep
	border: 1px solid $gray
	margin: 2em 0 2em 0
	width: 25%
	font-size: initial
	letter-spacing: initial
	position: initial
	top: initial

.footnotes-sep:after
	content: initial

.footnotes-list
	padding-left: 2em

.footnote-backref
	border-bottom: none
	color: $darkgray

a.foot-note-backref
	border-bottom: none
