header#siteheader
	background: $blue
	color: white
	text-align: center

	a
		color: white

	img#sitelogo
		display: initial
		margin: 0 0.05em
		vertical-align: baseline
		width: 0.65em

	h1#sitetitle
		font-weight: 700
		margin: auto
		padding-top: 2vh

	p#sitebyline
		margin: -1rem auto auto
		padding-bottom: 4vh
