header#siteheader
	background: $blue
	color: white
	text-align: center

	a
		color: white

	h1#sitetitle
		font-weight: 700
		margin: auto
		padding-top: 3vh

		&:hover img#sitelogo, &:focus img#sitelogo
			animation: rotate 4s infinite

		img#sitelogo
			display: initial
			margin: 0 0.05em
			vertical-align: baseline
			width: 0.65em

	p#sitebyline
		margin: -1rem auto auto
		padding-bottom: 4vh
