.siteheader
  align-items: center
  // Unnecessary if the <body> is blue
  // background: $blue

  // Necessary because the rest of the <body> has the $black color. This is for the "By" in the subtitle
  color: white
  // This will perfectly center the only child of .siteheader, which is the container for the title and the tagline
  display: flex
  justify-content: center
  height: 15vmax
  max-height: 200px
  text-align: center

  // Spins the logo when hovering
  &:hover .siteheader-heading-logo, &:focus .siteheader-heading-logo
    // I turned this off because it looked janky
    animation: rotate 2s infinite

  a
    color: white

.siteheader-heading
  font-weight: 700
  margin: 0

.siteheader-heading-logo
  display: initial
  margin: 0 0.05em
  vertical-align: baseline
  width: 0.65em

.siteheader-tagline
  margin: -0.75em auto auto
