@media (max-width: 740px)
	body
		font-size: large

	header#siteheader
		height: 15vh
		min-height: 100px

		h1
			font-size: 8.5vw
			// padding-top: 4vw

		p
			margin: -0.5em auto auto auto
			// padding-bottom: 6vw

	main
		width: calc(90% - 3em)
		padding: 1.5em

	header.postheader h2
		font-size: 1.6em

	header.postheaderlinked h2
		font-size: 1.5em

	img.small
		max-width: 100%

	.entry
		ul, ol
			margin-left: 0.5em
			padding-left: 0.75em

	li
		padding-left: 0

@media (max-width: 320px)
	body
		font-size: medium

	blockquote
		margin: 0.25em
