.homepage-pagination
	background: white
	border-radius: $borderRadius
	font-size: 1.1em
	font-weight: 400
	height: 1.75em
	margin: 1.5em auto auto

.homepage-pagination-page-markers
	margin: auto

.homepage-pagination-older, .homepage-pagination-newer
	color: $darkgray

	&:hover, &:focus
		color: $blue

.homepage-pagination-newer
	float: right
