.homepage-pagination
  background: white
  border-radius: $borderRadius
  font-size: 1.1em
  font-weight: 400
  height: 1.75em
  font-weight: 700
  margin: 3em auto

// .homepage-pagination-page-markers
//   margin: 3em auto

// "Older" and "Newer" buttons
.homepage-pagination-older, .homepage-pagination-newer
  display: inline-block
  border-radius: 2em
  background: $blue
  color: white
  width: 100px
  font-size: large
  // The padding is funky here because I'm too stupid to center the text within the <a>. I guess i could make a span and then put the text of the button within that span, and then target that span, but eh
  padding: 1em 0.75em 0.75em 0.75em;
  transition: all 100ms ease-in-out
  text-align: center

  &:hover, &:focus
    transform: scale(1.05)
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.1)

  &:active
    box-shadow: none
    border: 0.1em solid $lightgray

.homepage-pagination-newer
  float: right