.postheader > h2,
.postheaderlinked > h2
	font-weight: 700
	line-height: 1.35
	margin: auto

.postheader

	a:hover, a:focus
		color: $blue

	h2
		font-size: 1.65em

		a
			color: $black

			.homepage-article:hover &, .homepage-article:focus &
				color: white

.linkarrow
	color: $darkgray
	transition: all 0.2s ease-in-out
	vertical-align: -4%
	display: inline-block

	.postheaderlinked h2:hover &,
	.postheaderlinked h2:focus &
		color: $blue
		transform: rotateZ(360deg)

	.homepage-article:hover .postheaderlinked h2:hover &, .homepage-article:focus .postheaderlinked h2:focus &
		color: white

.postsubtitle
	display: inline
	font-size: 0.9em
	list-style: none
	padding: 0

	*
		color: $darkgray
		transition: all 200ms ease-in-out

		&:hover
			color: $blue

		// I don't know why I can't use inheritance here
		.homepage-article:hover &, .homepage-article:focus &
			color: lighten($darkgray, 10%)

			&:hover, &:focus
				color: white

	label
		display: none

	li
		display: inline
		padding: 0

	li.date:after
		// I don't know of any other way to target this silly shadow DOM element (or why I can't use inheritance)
		color: $darkgray
		content: '•'
		margin: 0 0.25em 0 0.25em

		// I don't know why I can't use inheritance here
		.homepage-article:hover &, .homepage-article:focus &
			color: lighten($darkgray, 10%)

	li.tags ul
		display: inline
		padding: 0

		li:after
			// I don't know of any other way to target this silly shadow DOM element (or why I can't use inheritance)
			color: $darkgray
			content: ' and '

			// I don't know why I can't use inheritance here
			.homepage-article:hover &, .homepage-article:focus &
				color: lighten($darkgray, 10%)

		li:last-child:after
			content: initial
