// Turns off italicization for code
.topstory code
  font-style: normal

.table-of-contents
  border-top: 2px solid $gray
  border-bottom: 2px solid $gray
  margin: 4em auto 2em auto
  font-size: 95%

  h4
    margin-top: 0.75em

  ul
    list-style-type: square
    padding-left: 1em

  li
    margin: 0.5em auto 0.5em 1em

  a
    color: $black
    border-bottom: none

    &:visited
      color: $black

  li
    transition: transform 300ms ease-in-out

    &:hover, &:active
      transform: scale(1.01)

figure
  margin: 1em auto

img
  border-radius: $imgRadius
  box-sizing: border-box
  display: block
  margin: auto
  vertical-align: middle
  max-width: 100%
  
  // Going to apply .border to all images to see if I can have my cake and eat it too: have a border around screenshots
  .entry &
    border: solid 0.25em $lightgray
    border-radius: $borderRadius

// .wide
//   border-rad
//   max-width: 150%
//   margin-left: -25%

.border
  border: solid 0.25em $lightgray
  border-radius: $borderRadius

.twoinline
  display: inline
  margin: 1%
  width: 46%

.threeinline
  display: initial
  margin: 1%
  width: 29%

ul, ol, blockquote
  img
    margin-left: initial

figcaption
  background: $lightgray
  border-bottom-left-radius: $borderRadius
  border-bottom-right-radius: $borderRadius
  color: $darkgray
  font-size: 0.8em
  margin: auto
  min-width: 100px
  max-width: 80%
  padding: 0.75em 1.5em
  // font-style: italic

audio
  width: 100%

video
  border-radius: $imgRadius
  box-sizing: border-box
  display: block
  margin: auto
  max-width: 100%

  // This keeps the caption from causing that space thing that looks stupid in Safari for OS X
  + figcaption
    // margin-top: -0.25em

iframe
  border: none

.radius
   border-radius: $imgRadius

// FitVids stuff
.fluid-width-video-wrapper
  margin: 1em auto

blockquote
  border-left: 3px solid $gray
  color: #888
  margin: 1em
  padding-left: 1em

.convo
  border-left: none
  font-style: italic

.spoilers-tagline
  font-weight: bold
  margin: 1em auto

  &:focus
    outline: none

.spoilers-content
  background: $lightgray
  border-radius: $borderRadius
  padding: 0.25em 1em

pre, code
  font-family: $monospace
  font-style: normal
  font-weight: 500
  // border: 0.1em solid $gray;

pre
  background: $lightgray
  border-radius: $borderRadius
  font-size: 0.85em
  padding: 0.5em 1em
  // white-space: pre-wrap
  overflow: auto
  tab-size: 2
  // counter-reset: line

code
  background: $lightgray
  border-radius: $borderRadius
  font-size: 0.8em
  padding: 0.25em

pre code
  font-size: 0.9em
  padding: 0
  // Unecssary if I don't have a border lol
  // border: none

.stupid-bigfoot-pre-overflow
  white-space: pre-line

// What I wish for: https://developer.mozilla.org/en-US/docs/Web/CSS/:has
// .entry a:has(code)
  // This would make it so that there wouldn't be that gray underline for `code` that is a child of `a` (right now, the blocky border bottom of all `a`'s sort of clashes with the border radius on all `code` :/)
  // border-bottom: none
// This is hacky
a code
  padding-bottom: 0.4em

// Embedded Tweets
.twitter-tweet a
  border-bottom: none !important

// Embedded Twitter timeline
.twitter-timeline
  border-radius: $borderRadius
  // Have to use `!important` to override the inline styles
  border: 0.25em solid $gray !important
  max-width: 500px !important
  margin: auto auto auto auto !important
  display: block !important

mark
  background: $mark-yellow
  border-radius: $borderRadius
  display: inline-block
  padding: 0.25em 0.6em 0.25em 0.6em

mark.green
  background: $mark-green

mark.red
  background: $mark-red

ul, ol, dl
  padding-left: 2em

li
  margin: 0.75em auto
  // padding-left: 0.25em

// Some posts have a table within a division
// This rule allows scrolling
.table
  overflow: auto

table
  border-bottom: 2px solid $gray
  border-right: 2px solid $gray
  border-collapse: collapse
  margin: auto

  th
    background: $lightgray
    border-top: 2px solid $gray
    border-left: 2px solid $gray
    padding: 0.3em 1em

    code
      border: 1px solid $gray
      border-radius: $borderRadius

  td
    border-top: 2px solid $gray
    border-left: 2px solid $gray
    padding: 0.3em 1em

.sortable thead
  cursor: default

.takehome
  border-top: 4px solid $gray
  border-bottom: 4px solid $gray
  color: $blue
  display: block
  font-size: 1.2em
  font-weight: 700
  line-height: 1.5
  padding: 0.5em 0 0.5em 0.1em
  text-transform: uppercase

.update
  background: $lightgray
  border-radius: $borderRadius
  padding: 1.5em
  // This is to make the little update thingy smaller
  font-size: 85%

  h4
    margin-top: 0

  a
    border-bottom: 2px solid $gray
    padding-bottom: 1px
    word-break: break-word

    &:hover, &:focus
      background: $gray

  blockquote
    border-left-color: $gray

  pre
    background-color: $gray

  code
    background: $gray

  img
    border-color: $gray

  figcaption
    background: $gray
    color: #777

.updatetime
  color: $darkgray
  font-size: 0.9em
  margin-top: 0.5em

// Makes it "***"
hr
  border: none
  color: #555
  text-align: center

  // Instead of something markup-unfriendly, like
  // `<p style="text-align: center">* * *</p>`
  &:after
    content: "***"
    font-size: 1.25em
    letter-spacing: 0.25em
    position: relative
    top: 0.2em

// Styles <hr>'s that are like the traditional whole line
.long
  border-radius: $borderRadius
  border: 1px solid $gray
  margin: 1.5em auto 1.5em auto
  width: 100%

  &:after
    content: normal

// Targets head-anchors in the text
.header-anchor
  opacity: 0
  border-bottom: none
  font-size: 75%
  // Moves it up a bit
  vertical-align: 9%

  &:hover, &:focus
    opacity: 1
    background: none

  // &:hover .header-anchor, &:focus .header-anchor
  //   opacity: 1
  //   background: none

// The .page class is the class applied to all non-post pages like about.md
.page .header-anchor
  border-bottom: none

.post .entry
  // Has that same effect as when you're in a code editor and you can "scroll past end." I like that
  margin-bottom: 6em
