body.smokey
  background: #333
  color: white
  // This centers the image in the screen
  display: flex;
  height: 100vh;
  align-items: center
  // Necessary because I'm hiding the header and the footer later on in this CSS
  justify-content: center

  .container
    background-color: inherit

  header, footer
    display: none

  main
    background: inherit
    transition: all 0.4s ease-in-out

    &:hover, &:focus
      transform: scale(1.05)

      @media all and (max-width: 600px)
        transform: none

    &:active
      transform: initial
      transition: all 0.1s ease-in


