body.valentines-2015
	background: pink
	color: white

	header, footer
		display: none

	a
		color: inherit
		border-bottom: 0.1em dashed

		&:hover, &:focus
			background: pink
			border-bottom: none

	hr::after
		content: "❤︎❤︎❤︎"
		color: white

		// Not sure why this doesn't work
		&:hover, &:focus
			transform: scale(1.05) and rotateZ(360)

	main
		background: darken(pink, 10%)
		text-align: center

