body.valentines-2015
	background: pink
	color: white

	header, footer
		display: none

	a
		color: inherit
		border-bottom: 0.1em dashed

		&:hover, &:focus
			background: pink
			border-bottom: none

	hr
		transition: all 0.5s ease-in-out

		&:hover, &:focus
			transform: scale(1.5)

	hr::after
		content: "❤︎❤︎❤︎"
		color: white

	main
		background: darken(pink, 10%)
		text-align: center

