<section class="homepage-pagination">
	<h2 class="hidden">Pagination</h2>
	<p class="homepage-pagination-page-markers">
		{{#if nextPage}}
			<a class="homepage-pagination-older" href="/page/{{nextPage}}" rel="prev" title="Older Posts"><span style="vertical-align: -4%">&#8592;</span>&nbsp;Older</a>
		{{/if}}
		{{#if prevPage}}
			<a class="homepage-pagination-newer" href="/page/{{prevPage}}" rel="next" title="Newer Posts">Newer&nbsp;<span style="vertical-align: -4%">&#8594;</span></a>
		{{/if}}
	</p>
</section>
