				</div><!-- main -->
			</div><!-- content -->
			<footer>
			</footer>
		</div><!-- container -->
		    <div>
		        <center class="bottomAd">
		           <a target="_blank" class="nohover" href="http://shareasale.com/r.cfm?b=603846&amp;u=1059760&amp;m=53267&amp;urllink=&amp;afftrack=">
		              <img src="http://d.pr/i/16fa8+" border="0px" width="200px" /></a>
		           <figcaption>Advertisement</figcaption>
		        </center>
		    </div>
	        <div class="navFooter">
		        <div class="nav">
			       <a href="/about" >About</a> <span class="dot">&bull;</span>
			       <a href="/connect" >Connect</a> <span class="dot">&bull;</span>
			       <a href="/nerd" >Nerd</a>
                </div>
                <div class="copyright">&copy; 2014-@@CurrentYear@@ Anthony Craig</div>
		    </div>
    </body>
</html>