<div class="paginationFooter">
	{{#if nextPage}}<a href="/page/{{nextPage}}" class="nextPage">&laquo; Older</a>{{/if}}
	{{#if prevPage}}<a href="/page/{{prevPage}}" class="previousPage">Newer &raquo;</a>{{/if}}
</div>
<div class="navFooter">
   <div class="nav">
		<a href="/about" rel="author">About</a><span class="dot">&bull;</span>
		<a href="/connect" >Connect</a><span class="dot">&bull;</span>
		<a href="/nerd" >Nerd</a>
	</div>
	<figure class="vdog">
		<a target="_blank" href="http://www.shareasale.com/r.cfm"><img src="http://static.shareasale.com/image/53267/120x601.jpg" border="0" /></a>
		<figcaption class="ad">Advertisement</figcaption>
	</figure>
	<div class="copyright">&copy; 2014-@@CurrentYear@@ Anthony Craig
	</div>
</div>