		</main>
		<footer>
			<!-- for screen readers -->
			<h1 class="footer" hidden>Footer</h1>
			<div id="bottomAd">
				<figure>
					<a class="nohover" href="http://shareasale.com/r.cfm?b=603846&amp;u=1059760&amp;m=53267&amp;urllink=&amp;afftrack=" arget="_blank" title="V-Dog Website">
						<img src="/images/vdoglogo.jpg" alt="V-Dog Advertisement">
					</a>
					<figcaption>Advertisement</figcaption>
				</figure>
			</div>
			<nav>
			<!-- for screen readers -->
			<h1 class="nav" hidden>Navigation</h1>
				<ul>
					<li><a href="/about" title="About Page">About</a></li>
					<li><a href="/connect" title="Social Media Page">Connect</a></li>
					<li><a rel="help" href="/nerd" title="Techincal Underpinnings of TheOverAnalyzed">Nerd</a></li>
					<li><a rel="search" href="/search" title="Search Page">Search</a></li>
				</ul>
			</nav>
			<p id="copyright">Copyright &copy; 2014&ndash;@@CurrentYear@@ Anthony Craig</p>
		</footer>
	</body>
</html>
