		</main>
		<footer id="footer" class="footer fadeinup">
			<div class="bottomad">
				<h2 class="hidden">Advertisement</h2>
				<figure class="logo-container">
					<a class="nohover" href="http://shareasale.com/r.cfm?b=603846&amp;u=1059760&amp;m=53267&amp;urllink=&amp;afftrack=" target="_blank" title="V-Dog Website">
						<img class="vdog-logo" src="/images/vdoglogo.png" alt="V-Dog Advertisement">
					</a>
					<figcaption class="ad-marker">Advertisement</figcaption>
				</figure>
			</div>
			<nav class="bottom-navigation">
				<h2 class="hidden">Navigation</h2>
				<ul class="nav-item-container">
					<li class="nav-item"><a href="/about" title="About Page">About</a></li>
					<li class="nav-item"><a href="/nerd" title="Nerdy stuff">Nerd</a></li>
					<li class="nav-item"><a href="/tags/Best%20Of" title="Most popular posts on TheOverAnalyzed">Best Of</a></li>
				</ul>
			</nav>
			<form id="search" class="search" method="get" action="https://duckduckgo.com/">
				<input type="hidden" name="sites" value="https://theoveranalyzed.net">
				<input type="hidden" name="kz" value="1">
				<input type="hidden" name="kc" value="1">
				<input type="hidden" name="kaf" value="1">
				<input type="hidden" name="kac" value="1">
				<input type="hidden" name="kh" value="1">
				<input type="hidden" name="kp" value="-1">
				<input type="hidden" name="k1" value="-1">
				<input type="text" name="q" placeholder="DuckDuckGo Search">
				<input type="submit" value="Search" hidden>
			</form>
			<!-- Auto-updating year from http://stackoverflow.com/a/25415233 -->
			<p class="copyright-statement"> Copyright &copy; 2014<script>new Date().getFullYear()>2014&&document.write("&ndash;" + new Date().getFullYear());</script>
				<a href="http://anthonycraig.me" title="Site's creator">Anthony Craig</a>
			</p>
		</footer>
	</body>
</html>
