<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
		<link rel="stylesheet" href="/css/bigfoot-default.css"/>
		<link rel="stylesheet" href="/css/hightlightjsgithub.css"/>
      <link rel="stylesheet" type="text/css" href="/css/site.css">
      <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7099154/750568/css/fonts.css" />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/js/bigfoot.min.js"></script>
		<script type="text/javascript">
		    $.bigfoot();
		</script>
		<script src="/js/fitvids.js"></script>
		<script>
		  $(document).ready(function(){
		    // Target your .container, .wrapper, .post, etc.
		    $(".entry").fitVids();
		  });
		</script>

		<link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
		<link rel="alternate" type="application/rss+xml" title="with link posts pointed to @@SiteTitle@@" href="/rss-alternate" />

		<meta property="article:author" content="604781976">
<!-- Twitter Cards -->	
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@@Twitter@@">
		<meta name="twitter:creator" content="@@Twitter@@">
		<meta name="twitter:title" content="@@Title@@ - @@SiteTitle@@">
		<meta name="twitter:description" content="@@Description@@">
		<meta name="twitter:image" content="@@PostImage@@" />	
<!-- Facebook Open Graph -->
		<meta property="og:type" content="@@ogtype@@">
		<meta property="og:title" content="@@Title@@ - @@SiteTitle@@">
		<meta property="og:site_name" content="@@SiteTitle@@">
		<meta property="og:image" content="@@PostImage@@" />	
		<meta property="og:url" content="@@canonicalLink@@">
		<meta property="og:description" content="@@Description@@">
		<meta property="og:locale" content="en_US">

		<link rel="canonical" href="@@canonicalLink@@">
    </head>
	<body class="@@BodyClass@@">
	   <div id="mastheadbackground"></div>
		<div class="container">
			<div class="content">
				<div class="header">
					<div class="siteTitle">
					<a href="/"><img src="/images/SiteTitle.svg" alt="TheOverAnalyzed" /></a>
					</div>
					<div class="siteByline">By Anthony Craig</div>
<!--					<nav>
						<a href="/about" rel="author">About</a> <span class="dot">&bull;</span>
						<a href="/connect" >Connect</a> <span class="dot">&bull;</span>
						<a href="/nerd" >Nerd</a>
					</nav>-->
				</div><!-- header -->
				<div class="main">