<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">

		<link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
		<link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@ with link posts pointed to @@SiteTitle" href="/rss-alternate" />

		<meta property="article:author" content="604781976">
<!-- Twitter Cards -->	
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@@Twitter@@">
		<meta name="twitter:creator" content="@@Twitter@@">
		<meta name="twitter:title" content="@@Title@@ - @@SiteTitle@@">
		<meta name="twitter:description" content="@@Description@@">
		<meta name="twitter:image" content="@@PostImage@@" />	
<!-- Facebook Open Graph -->
		<meta property="og:type" content="@@ogtype@@">
		<meta property="og:title" content="@@Title@@ - @@SiteTitle@@">
		<meta property="og:site_name" content="@@SiteTitle@@">
		<meta property="og:image" content="@@PostImage@@" />	
		<meta property="og:url" content="@@canonicalLink@@">
		<meta property="og:description" content="@@Description@@">
		<meta property="og:locale" content="en_US">
		
		<link rel="canonical" href="@@canonicalLink@@">
    </head>
	<body>