<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <meta name="author" content="Anthony Craig">
        <meta property="article:author" content="604781976">
        <meta name="google-site-verification" content="bTslVH_XkdLoX1gCjVeqGK1od1brDOtiVSfp5lyxJiE" /> <!--www version-->
        <meta name="google-site-verification" content="bTslVH_XkdLoX1gCjVeqGK1od1brDOtiVSfp5lyxJiE" /> <!--non-www version-->
		<link rel="stylesheet" href="/css/bigfoot-default.css"/>
		<link rel="stylesheet" href="/css/hightlightjsgithub.css"/>
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7099154/750568/css/fonts.css" />
		<link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
		<link rel="alternate" type="application/rss+xml" title="Feed with linked entries pointing back to @@SiteTitle@@ instead of their targets" href="/rss-alternate" />
		<link rel="icon" type="image/png" href="http://d.pr/i/1gOdX+"/>
		<link rel="apple-touch-icon" href="http://d.pr/i/1gOdX+"/>
			
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/js/bigfoot.min.js"></script>
		<script>
            var bigfoot = $.bigfoot(
                {
//		            actionOriginalFN: "ignore",
                }
		    );
		</script>
		<script src="/js/fitvids.js"></script>
		<script>
		    $(document).ready(function(){
		        $(".entry").fitVids();
		    });
		</script>
		
<!-- Twitter Cards -->	
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@@Twitter@@">
		<meta name="twitter:creator" content="@@Twitter@@">
		<meta name="twitter:title" content="@@Title@@">
		<meta name="twitter:description" content="@@Description@@">
		<meta name="twitter:image" content="@@PostImage@@" />	
<!-- Facebook Open Graph -->
		<meta property="og:type" content="@@ogtype@@">
		<meta property="og:title" content="@@Title@@">
		<meta property="og:site_name" content="@@SiteTitle@@">
		<meta property="og:image" content="@@PostImage@@" />	
		<meta property="og:url" content="@@canonicalLink@@">
		<meta property="og:description" content="@@Description@@">
		<meta property="og:locale" content="en_US">

		<link rel="canonical" href="@@canonicalLink@@">
    </head>
	<body class="@@BodyClass@@">
	   <div id="mastheadbackground"></div>
		<div class="container">
			<div class="content">
				<div class="header">
					<div class="siteTitle">
					<a href="/"><img src="/images/SiteTitle.svg" alt="TheOverAnalyzed" /></a>
					</div>
					<div class="siteByline">By Anthony Craig</div>
<!-- Top Nav      	<nav>
     Stuff			<a href="/about" rel="author">About</a> <span class="dot">&bull;</span>
						<a href="/connect" >Connect</a> <span class="dot">&bull;</span>
						<a href="/nerd" >Nerd</a>
					</nav>-->
				</div><!-- header -->
				<div class="main">