	{{#if Link}}
<!-- Linked Post-->
	<header class="postHeaderLinked">
		<h2><a class="postTitleLinked" href="{{Link}}" title="Go to External Content">{{Title}}&nbsp;<span class="linkArrow">&#8594;</span></a></h2>
		<div class="postSubtitle">
			<ul class="postSubtitleItems">
				<li class="Date">
					<a href="{{permalink}}" title="Permalink to post"><time dateTime="{{formatIsoDate Date}}" pubDate>{{formatPostDate Date}}</time></a><span class="bull">&bull;</span>
				</li>
				<li class="Tags">
					<ul>
						{{#each tags}}
						<li title="Similar posts">{{{this}}}</li>
						{{/each}}
					</ul>
				</li>
			</ul>
		</div>
	</header>
	{{else}}
<!-- Non-linked Post -->
	<header class="postHeader">
		<h1><a class="postTitle" href="{{relativeLink}}" title="Permalink to this Post">{{Title}}</a></h1>
		<div class="postSubtitle">
			<ul class="postSubtitleItems">
				<li class="Date">
					<time dateTime="{{formatIsoDate Date}}" pubDate>{{formatPostDate Date}}</time><span class="bull">&bull;</span>
				</li>
				<li class="Tags">
					<ul>
						{{#each tags}}
						<li title="Similar posts">{{{this}}}</li>
						{{/each}}
					</ul>
				</li>
			</ul>
		</div>
	</header>
	{{/if}}
