doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Webfonts
    link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/7099154/750568/css/fonts.css")

  body
    style
      include mailchimp.css
    .container
      header
        h1(hidden) TheOverAnalyzed Newsletter
        a(href="http://theoveranalyzed.net" title="Visit TheOverAnalyzed in a web browser")
          img(src="http://theoveranalyzed.net/images/mailchimplogo.svg" title="TheOverAnalyzed's logo")

      main
        h2 New Posts
        div *|RSSITEMS:|*
          ul
            li
              span
                a(href="*|RSSITEM:URL|*" title="Link to post")
                  span *|RSSITEM:TITLE|*
        div *|END:RSSITEMS|*

      footer
        p This email was sent to <a href="mailto:*|EMAIL|*" title="This email was sent to _this_ email address">*|EMAIL|*</a>
        p.unsub-container
          span.unsub-item
            a(href="*|ABOUT_LIST|*" title="Link to subscription information") Why did I get this?
          span.unsub-item
            a(href="*|UNSUB|*" title="Click to unsubscribe (sad)") Unsubscribe</a>
          span.unsub-item
            a(href="*|UPDATE_PROFILE|*" title="Modify subscription preferences") Subscription Preferences
        p
          address(title="This is the fakest address ever. If you think this exists, I don't know if we can be friends.")
            | TheOverAnalyzed
            br
            | 123 CAN-SPAM Act Road
            br
            | Dumb, CA 12345 USA
        p *|REWARDS|*