body
  margin: 0
  padding: 0
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", Avenir
  font-weight: 500
  line-height: 1.55

.container
  box-sizing: border-box
  max-width: 650px
  margin: auto
  padding: 1em

header, footer
  text-align: center

img
  width: 50%
  max-width: 300px

footer
  margin-top: 5em
  padding-top: 1em
  border-top: 0.3em solid lightgray
  font-size: 0.9em

address
  font-style: normal

.unsub-container
  display: flex
  align-items: center
  justify-content: center

  @media all and (max-width: 400px)
    flex-direction: column

.unsub-item
  margin: auto 1em