// MailChimp Form Embed Code - Classic - 08/17/2011

#mc_embed_signup
	margin-top: 1em
	width: 50%

	input
		border: 0.2em solid #ddd
		border-radius: 0.4em

		&:focus
			border: 2px solid #ccc
			box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2)
			outline: no

	.button
		background-color: #ddd
		border: none
		border-radius: 0.4em
		color: #fff
		cursor: default
		font-size: 15px
		font-weight: bold
		height: 2em
		margin: auto auto auto 0
		padding: 0 1em

		&:hover
			background-color: #bbb

	.mc-field-group
		width: 100%
		min-height: 50px

		input
			display: block
			width: 100%
			padding: 8px 0
			text-indent: 2%

	.clear
		clear: both

	#mce-responses
		float: left
		top: -1.4em
		padding: 0em .5em 0em .5em
		overflow: hidden
		width: 90%
		margin: 0 5%
		clear: both

	.response
		margin: 1em 0
		padding: 1em .5em .5em 0
		font-weight: bold
		float: left
		top: -1.5em
		z-index: 1
		width: 80%

	#mce-error-response
		display: none

	#mce-success-response
		color: #529214
		display: none

	label.error
		display: block
		float: none
		width: auto
		margin-left: 1.05em
		text-align: left
		padding: .5em 0

	#num-subscribers
		font-size: 1.1em

		span
			padding: .5em
			border: 1px solid #ccc
			margin-right: .5em
			font-weight: bold

#mc-embedded-subscribe
	clear: both
	width: auto
	display: block
	margin: 1em 0 1em 5%

#mc-embedded-subscribe-form.validate
	padding: 0
